<ion-view view-title="Agenda">
   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="">
<div id="agenda"></div>

        <div class="backVerde padding5Top" align="center">
           <div class="hvr-grow">
                 <img src="main/assets/images/icono/140.png" width="20px">
            <p class="fontBlanco7">Presencial</p>
           </div>
        </div>
        <div class="row padding10" ui-sref="main.agendaUno">
            <div class="col-33">
                <p class="fontAzul">9:40 am</p>
                <p class="fontAzul">CheckUp </p>
            </div>
            <div class="col-67">
                <p class="fontNegro">Carlos juarez miranda</p>
                <p class="fontNegro10">Medico familiar </p>
                <div class="padding10Top">
                    <div class="margin10Top">
                        <img src="main/assets/images/icono/46.png" alt="" width="15px" class="alignV">
                        <span class="fontNegro9 alignV"> Hospital los angeles Pedregal</span>
                    </div>
                    <div class="margin10Top">
                        <img src="main/assets/images/icono/42.png" alt="" width="15px" class="alignV">
                        <span class="fontNegro9 alignV"> 9:40hrs- 10:00hrs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="backVerde padding5Top" align="center">
            <div class="hvr-grow">
                <img src="main/assets/images/icono/71.png" width="20px">
            <p class="fontBlanco7">Videoconsulta</p>
            </div>
        </div>
        <div class="row padding10">
            <div class="col-33">
                <p class="fontAzul">9:40 am</p>
                <p class="fontAzul">CheckUp </p>
            </div>
            <div class="col-67">
                <p class="fontNegro">Carlos juarez miranda</p>
                <p class="fontNegro10">Medico familiar </p>
                <div class="padding10Top">
                    <div class="margin10Top">
                        <img src="main/assets/images/icono/46.png" alt="" width="15px" class="alignV">
                        <span class="fontNegro9 alignV"> Hospital los angeles Pedregal</span>
                    </div>
                    <div class="margin10Top">
                        <img src="main/assets/images/icono/42.png" alt="" width="15px" class="alignV">
                        <span class="fontNegro9 alignV"> 9:40hrs- 10:00hrs</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>