<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <div class="">    
      <div class="bloque8">
          <div class="text-center pt20">
            <img src="main/assets/images/perfil.jpg" class="img9" alt="">
          </div>
          <p class="text-center fontAzul2">Robert Smith</p>
          <br>
        </div>
        <div class="relative">
        <div class="picotop_1"></div>
        <div class="backNaranja padding20 radius10">
          <p class="text-center fontBlanco2"><img src="main/assets/images/icono/89.png" width="15px" style="margin-right: 10px;" />Nueva agenda <br /><br />Hospital Ángeles <br />28/junio/17 <br />18 hrs</p>
        </div>
        </div>
        <div class="bloque8">
          <div class="text-center pt20">

            <div class="row">
              <div class="col-33 text-center">
                <button ui-sref="main.home" class="button3 bloque2 backRojo_1" href="#/main/home">
                  <img src="main/assets/images/icono/69.png" width="20px" alt=""></button>
                </div>
                 <div class="col-33 text-center">
                <button ui-sref="main.home" class=" bloque2" href="#/main/home">
                  <img src="main/assets/images/icono/186.png" width="50px" alt=""></button>
                </div>
                <div class="col-33 text-center">
                  <button ui-sref="main.home" class="button3 bloque2" href="#/main/home">
                    <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </ion-content>
      </ion-view>
