<ion-view view-title="Agenda">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative"><span class="count">1</span><img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt=""></span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="backCrema">
        <div class="backBlanco padding10">
            <div class="row row-center">
                <img src="main/assets/images/icono/126.png" width="10px;" style="margin:5px" alt="">
                <span class="fontAzul">09/jun/2016</span>
            </div>
            <br>
            <div class="row">
                <div class="col-20" align="center">
                    <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow">
                </div>
                <div class="col-75">
                    <p class="fontNegro">Carlos Juárez Miranda</p>
                    <p class="fontNegro10">Medico familiar</p>
                    <div class="padding10Top">
                        <div class="">
                            <img src="main/assets/images/icono/133.png" width="15px;" alt="" class="alignV margin5">
                            <span class="fontNegro9 alignV"> 11am -12:30pm</span>
                        </div>
                        <div class="">
                            <img src="main/assets/images/icono/132.png" width="15px;" alt="" class="alignV margin5">
                            <span class="fontNegro9 alignV"> 11am -12:30pm</span>
                        </div>
                        <div class="">
                            <img src="main/assets/images/icono/46.png" width="15px;" alt="" class="alignV margin5">
                            <span class="fontAzul5 alignV"><u>Hospital Ángeles Pedregal </u></span>
                        </div>
                        <div class="">
                            <img src="main/assets/images/icono/134.png" width="10x;" alt="" class="alignV margin8">
                            <span class="fontAzul5 alignV"> Activa</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backBlanco margin10Top padding10">
            <div class="row row-center">
                <div class="col-20 padding10Lef">
                    <img src="main/assets/images/icono/129.png" width="20px;" class="hvr-grow">
                </div>
                <div class="col-75">
                    <p class="fontNegro">Invitar a alguien </p>
                </div>
                <div class="col-5">
                    <img src="main/assets/images/icono/127.png" width="10px;">
                </div>
            </div>
            <div class="divider2"></div>
            <div class="row row-center">
                <div class="col-20 padding10Lef">
                    <img src="main/assets/images/icono/130.png" width="20px;" class="hvr-grow">
                </div>
                <div class="col-75">
                    <p class="fontNegro">Recordatorio</p>
                </div>
                <div class="col-5">
                    <img src="main/assets/images/icono/127.png" width="10px;">
                </div>
            </div>
        </div>
        <div class="backBlanco margin10Top padding10" style="height:150px">
            <div class="row row-center">
                <div class="col-20 padding10Lef">
                    <img src="main/assets/images/icono/131.png" width="20px;" class="hvr-grow">
                </div>
                <div class="col-75">
                    <em class="fontGris">Notas</em>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>