<ion-view view-title="Agregar cuenta">
   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="">

           <form action="" class="padding10"> 
                <div class="row">
                    <div class="col-100 list">
                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/266.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Banco" class="miInput">
                            <img src="main/assets/images/icono/127.png" style="height:20px;margin-bottom: 7px;" alt="">
                        </label> 
 
                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/217.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Cuenta clave" class="miInput">
                          <img src=""  style="width:15px;" alt="">
                        </label>
                        
                          <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/12.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Cuenta" class="miInput">
                          <img src=""  style="width:15px;" alt="">
                        </label>
                        
                         <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/1.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Beneficiario" class="miInput">
                          <img src=""  style="width:15px;" alt="">
                        </label>
 
                    </div> 
                </div>
                <div align="center">
                    <button class="button3 bloque2 hvr-float-shadow">
                        <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                </div>
            </form>

  </ion-content>
</ion-view>
