<ion-view view-title="Consultorio">
   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <form action="" class="">
                <div class="col-100">
                  <label class="item-input-wrapper margin20Top bgf7">
                  <div class="col-10"><img src="main/assets/images/icono/46.png" width="20px" class="hvr-grow"></div>
                            <div class="col-90"><input type="text" placeholder="Ubicación actual" class="miInput bgf7 b0"></div>
                        </label>
                </div>
                <div class="row padding10">
                    <div class="col-100 list"> 
                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="No.interior, torre, consultorio" class="miInput">
                        </label>
                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="Alias" class="miInput">
                        </label>
                        <label class="item-input-wrapper margin20Top">
                            <img width="100%" src="main/assets/images/mapa.png" />
                        </label>

                    </div>
                </div>
                <div align="center">
                    <button ui-sref="main.perfil" class="button3 bloque2 hvr-float-shadow">
                        <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                </div>
            </form>

  </ion-content>
</ion-view>
