<ion-view view-title="Datos fiscales">
   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>

    <ion-content>
        <form action="">
            <div class="row padding10">
                <div class="col-100 list">
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="R.F.C." class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="number" placeholder="Razón social" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="email" placeholder="Tarjeta de crédito" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Domicilo Fiscal Calle" class="miInput">
                    </label>
                    <div class="row margin20Top">
                        <label class="item-input-wrapper col-50">
                            <input type="text" placeholder="Número Exterior" class="miInput">
                        </label>
                        <label class="item-input-wrapper col-50">
                            <input type="text" placeholder="Número Interior" class="miInput">
                        </label>
                    </div>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Código postal" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Colonia/Poblado/Cuidad" class="miInput">
                        <!--abre un select dependiendo el cp-->
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Delegación o Municipio" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Ciudad" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Estado" class="miInput">
                    </label>

                    <div align="center">
                        <button class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>