<ion-view view-title="Ayuda">

   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>

        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
        <div class="padding10">
            <div class="row padding10Top" ui-sref="main.preguntas">
                <div class="col-80">
                    <p class="fontNegro">Preguntas frecuentes</p>
                </div>
                <div class="col-20">
                    <img src="main/assets/images/icono/24.png" width="20px" class="derecha" alt="">
                </div>
            </div>
            <div class="divider3"></div>
            <div class="row padding10Top" ui-sref="main.bloquear" >
                <div class="col-80">
                    <p class="fontNegro">Reportar y bloquear</p>
                </div>
                <div class="col-20">
                    <img src="main/assets/images/icono/24.png" width="20px" class="derecha" alt="">
                </div>
            </div>
            <div class="divider3"></div>
        </div>
        <div align="center" class="bloque">
            <div class="row">
                <div class="col-50"> 
                    <button class="button17 block hvr-float-shadow" style="margin-top:15%"><img src="main/assets/images/icono/93.png" width="20px" alt=""></button>
                </div>
                   <div class="col-50">
                     <button class="button3 block hvr-float-shadow" style="margin-top:15%"><img src="main/assets/images/icono/158.png" width="20px" alt="">
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        
        <div class="bb1 w100">
        <div class="row">
            <div class="col-80">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="¿Hola en que te podemos ayudar?" class="miInput">
                </label>

            </div>
            <div class="col-20">
                <div class="fontAzul2">Enviar</div>
            </div>
        </div>
        </div>
    </ion-footer-bar>
</ion-view>