<ion-view view-title="Histórico de beats">
   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>

    <ion-content class="backCrema">
        <div class="backBlanco padding10 margin10B" align="center">
            <div align="center">
                <img src="main/assets/images/perfil.jpg" class="img4" alt="">
                <p class="fontNegro">Sandra Juárez</p>

                <div class="contenedor3 hvr-grow">
                    <p class="fontBlanco text-center">80</p>
                </div>
                <p class="fontNegro">beats</p>
            </div>
        </div>


        <div class="row row-center backBlanco margin10Top padding10">
            <div class="col-33">
                <p class="fontNegro9">Sandra Juárez</p>
                <p class="fontGris4">15 de octubre</p>
            </div>
            <div class="col-33" align="center">
                <img src="main/assets/images/perfil.jpg" class="img8 hvr-grow" alt="">
            </div>
            <div class="col-33">
                <div class="derecha">
                    <i class="ion-plus fontRojo"></i>
                    <div class="contenedor1 hvr-grow">
                        <p class="text-center fontBlanco">1K</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-center backBlanco margin10Top padding10">
            <div class="col-33">
                <p class="fontNegro9">Gracias por donar</p>
                <p class="fontGris4">15 de octubre</p>
            </div>
            <div class="col-33" align="center">
                <div class="button3 hvr-grow"><img src="main/assets/images/icono/83.png" alt="" width="20px"></div>
            </div>
            <div class="col-33">
                <div class="derecha">
                    <i class="ion-plus fontRojo"></i>
                    <div class="contenedor1 hvr-grow">
                        <p class="text-center fontBlanco">5</p>
                    </div> 
                </div>
            </div>
        </div>


        <div class="row row-center backBlanco margin10Top padding10">
            <div class="col-33">
                <p class="fontNegro9">Gracias por ayudar</p>
                <p class="fontGris4">15 de octubre</p>
            </div>
            <div class="col-33" align="center">
                <div class="button16 hvr-grow"><img src="main/assets/images/icono/84.png" alt="" width="20px"></div>
            </div>
            <div class="col-33">
                <div class="derecha">
                    <i class="ion-plus fontRojo"></i>
                    <div class="contenedor1 hvr-grow">
                        <p class="text-center fontBlanco">20</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>