<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height65">
    <div class="">
      <div class="pt20">
        <div class="bloque8">
          <p class="text-center fontNegro4">Estas apunto de obsequiar</p>
        </div>
        <div class="text-center pt20">
          <div class="row row-center">
            <div class="col-33">
              <div class="btn-mas right">
                <img src="main/assets/images/icono/124.png" style="width:25px;margin:0 0 0px 0" alt="">
              </div>
            </div>
            <div class="col-40">
              <span class="fontBlanco relative block">
                <span class="count fs18">1</span>
                <img src="main/assets/images/icono/102.png" style="width:60px;margin:0 0 0px 0" alt="">
              </span>
            </div>
            <div class="col-33">
              <div class="btn-menos left">
                <img src="main/assets/images/icono/124.png" style="width:25px;margin:0 0 0px 0" alt="">
              </div>

            </div>
          </div>
        </div>
        <p class="text-center fontNegro4">Te quedarian<br />
          <span class="mt10 c-rojo"> 10</span> beats
        </p>
        <div class="row">
          <div class="col-100 text-center">
            <button ui-sref="main.home" class="button3 bloque2" href="#/main/home">
              <img src="main/assets/images/icono/87.png" width="20px" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
