<ion-view hide-nav-bar="true">
    <!-- do you want padding? -->
    <ion-content class="back">
        <div ui-sref="main.beats" class="row">
            <div class="col-10">

            </div>
            <div class="list card col-75">
                <br>
                <div align="center" class="padding20">
                    <img src="main/assets/images/bit/feliz1.png" class="imgBit">
                </div>
                <div class="pico1">

                </div>
                <br>
                <div class="figura1 padding20 margin8Top" align="center">
                    <div>
                        <p class="fontBlanco bloque1">En bitrubio todos nos ayudamos a mejorar nuestra salud.
                        </p>
                    </div>
                    <div>
                        <img src="main/assets/images/iconos/img29.png" width="20px" alt="">
                    </div>
                    <p class="fontBlanco bloque1">Agradece dando beats. Ayuda y recibirás beats.
                    </p>
                    <p class="fontBlanco bloque1">En unos meses con tus beats recibirás beneficios</p>
                </div>
            </div>
            <div class="col-10">

            </div>
        </div>
    </ion-content>
</ion-view>