<ion-view view-title="Reportar y Bloquear">
    <ion-content class="padding">
        <div class="padding10Top backBlanco">
            <label class="item item-input inputS"> <img src="main/assets/images/icono/16.png" width="20px;" class="hvr-grow">
                <input type="serch" class="inputS" placeholder="Busca bitrubian para reportar"> </label>
        </div>
        <div class="backBlanco">
            <div class="row bloque1" align="center">
                <div class="col-33" ui-sref="main.tuComunidad">
                    <div class="button8 hvr-grow">
                        <img src="main/assets/images/icono/76.png" alt="" width="20px">
                    </div>
                    <div class="margin8">
                        <p class="fontNegro9">Elige e invita</p>
                        <p class="fontNegro9">a tus contactos</p>
                    </div>
                </div>

                <div class="col-33">
                    <div class="imgContent">
                        <div class="button23">
                            <img src="main/assets/images/icono/196.png" alt="" width="10px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">Mamá</p>
                </div>
                <div class="col-33">
                    <div class="imgContent">
                        <div class="button23">
                            <img src="main/assets/images/icono/196.png" alt="" width="10px;">
                        </div>
                        <div class="circuloGris1">
                            <span>A</span>
                        </div>
                    </div>
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">Mamá</p>
                </div>
            </div>
            <div class="row bloque2" align="center">

                <div class="col-33">
                    <div class="imgContent">
                        <div class="button23">
                            <img src="main/assets/images/icono/196.png" alt="" width="10px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">Mamá</p>
                </div>

                <div class="col-33">
                    <div class="imgContent">
                        <div class="button23">
                            <img src="main/assets/images/icono/196.png" alt="" width="10px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">Mamá</p>
                </div>
                <div class="col-33">
                    <div class="imgContent">
                        <div class="button23">
                            <img src="main/assets/images/icono/196.png" alt="" width="10px;">
                        </div>
                        <div class="circuloGris1">
                            <span>A</span>
                        </div>
                    </div>
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">Mamá</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>