<ion-view view-title="Cambio celular">

    <ion-content class="">
        <br>
        <div class="backVerde padding10" align="center">
            <p class="fontBlanco1">Por seguridad te pedimos responder</p>
            <p class="fontBlanco1">las siguientes preguntas</p>
        </div>
        <div class="pico">

        </div>
        <form action="" class="padding">
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/4.png" class="img1 hvr-grow" alt="">
                <input type="number" placeholder="Fecha de nacimiento" class="miInput">
            </label>
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/129.png" class="img1 hvr-grow" alt="">
                <input type="number" placeholder="Nuevo de dependientes registrados" class="miInput">
            </label>
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/11.png" class="img1 hvr-grow" alt="">
                <input type="text" placeholder="Terminación de la tarjeta registrada" class="miInput">
            </label>
             <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/45.png" class="img1 hvr-grow" alt="">
                <input type="text" placeholder="Tipo de sangre" class="miInput">
            </label>
             <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/195.png" class="img1 hvr-grow" alt="">
                <input type="text" placeholder="A quien de ellos los tienes como amigos" class="miInput">
            </label><br>
            <div align="center">
                <div class="circuloActivo1">

                </div>
                <div class="circuloActivo1">

                </div>
                <div class="circuloNoactivo">

                </div>
            </div>
            <div align="center">
                <button ui-sref="main.conocenos" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
            
        </form>
    </ion-content>
</ion-view>