<ion-view hide-nav-bar="true">
    <ion-content class="backListo">
        <div class="container">
            <div align="center" class="bloque"><br>
                <img src="main/assets/images/bit/triste.png" class="imgLogo bloque1" alt="">
                <div class="bloque1">
                    <p class="fontBlanco2">Por seguridad no podemos continuar</p><br>
                    <p class="fontBlanco2">La informacion recibida no coincide</p>
                     <p class="fontBlanco2">con nuestros registros</p>
                </div>
            </div>
        </div>
    </ion-content> 
</ion-view>
