<ion-view view-title="Cambio celular">

    <ion-content class="">
        <br>
        <div class="backVerde padding10" align="center">
            <p class="fontBlanco1">Escribe el código confidencial</p>
            <p class="fontBlanco1">que te enviamos via mensaje de texto</p>
        </div>
        <div class="pico">

        </div>
        <form action="" class="padding">
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/8.png" class="img1 hvr-grow" alt="">
                <input type="number" placeholder="Escribe el código" class="miInput">
            </label>
            <div align="center" class="paddingTop150">
                <div class="circuloActivo1">

                </div>
                <div class="circuloActivo1">  

                </div> 
                <div class="circuloActivo1">
   
                </div>
            </div>
            <div align="center">
                <button ui-sref="main.conocenos" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
        </form>
    </ion-content>
</ion-view>
