<ion-view view-title="Cambio celular">

    <ion-content class="">
        <br>
        <div class="backVerde padding10" align="center">
            <p class="fontBlanco1">Por seguridad te pedimos responder</p>
            <p class="fontBlanco1">las siguientes preguntas</p>
        </div>
        <div class="pico">

        </div>
        <form action="" class="padding">
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/5.png" class="img1 hvr-grow" alt="">
                <input type="number" placeholder="Número de celular anterior" class="miInput">
            </label>
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/5.png" class="img1 hvr-grow" alt="">
                <input type="number" placeholder="Nuevo número de celular" class="miInput">
            </label>
            <label class="item-input-wrapper margin20Top">
                <img src="main/assets/images/icono/2.png" class="img1 hvr-grow" alt="">
                <input type="text" placeholder="Contraseña" class="miInput">
            </label><br>
            <div align="center">
                <div class="circuloActivo1">

                </div>
                <div class="circuloNoactivo">

                </div>
                <div class="circuloNoactivo">

                </div>
            </div>
            <div align="center">
                <button ui-sref="main.conocenos" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
            <p class="fontAzul5 text-center"><u>Olvide mi contraseña</u></p>
        </form>
    </ion-content>
</ion-view>