<ion-view view-title="main module">
<ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader" style="height:60px">
        <div class="row row-center">
            <div class="col-25" align="center">
                <div class="circuloGris1 hvr-grow">
                    <span>A</span>
                </div>
            </div>
            <div class="col-25">
                <p class="fontNegro9">Asma</p>
                <p class="fontAzul5">3 colegas</p>
            </div>
            <div class="col-50">
                <div class="derecha"><!--desplegar modal de grupos numero 1-->
                    <img src="main/assets/images/icono/109.png" class="alignV margin8" width="30px" alt="">
                </div>
            </div>
        </div>

    </ion-header-bar>
    <ion-content class="padding">
        <div class="row row-center margin10Top">
            <div class="col-20">
                <div class="izquierda">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
            <div class="col-80">
                <div class="derecha">
                    <div class="padding10">
                        <p class="izquierda fontGris7">Charles Xavier</p>
                        <p class="derecha fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="pico6"></div>
                        <div class="backCrema bordeIzquierda">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-center margin10Top">
            <div class="col-80">
                <div class="izquierda">
                    <div class="padding10">
                        <p class="derecha fontGris7">Charles Xavier</p>
                        <p class="izquierda fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="backCrema bordeDerecha">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                        <div class="pico7"></div>
                    </div>
                </div>
            </div>
            <div class="col-20">
                <div class="derecha">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
        </div>

        <div class="row row-center margin10Top">
            <div class="col-20">
                <div class="izquierda">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
            <div class="col-80">
                <div class="derecha">
                    <div class="padding10">
                        <p class="izquierda fontGris7">Charles Xavier</p>
                        <p class="derecha fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="pico8"></div>
                        <div class="backCrema bordeIzquierda1">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-center margin10Top">
            <div class="col-80">
                <div class="izquierda">
                    <div class="padding10">
                        <p class="derecha fontGris7">Charles Xavier</p>
                        <p class="izquierda fontGris7">20 Min</p>
                    </div>
                    <div class="row row-center margin10Top">
                        <div class="backCrema bordeDerecha1">
                            <p class="fontNegro10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum erroro</p>
                        </div>
                        <div class="pico9"></div>
                    </div>
                </div>
            </div>
            <div class="col-20">
                <div class="derecha">
                    <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                </div>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar style="height:75px;">
        <div class="row row-center">
            <div class="col-80">
                <div class="margin10B">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Comparte tu experiencia" class="miInput">
                    </label>
                </div>
                <div class="row" align="center">
                    <div class="col-20">
                        <img src="main/assets/images/icono/121.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/120.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/117.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/174.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/123.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-20">
                <p class="fontAzul5">Compartir</p>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
