<ion-view view-title="Comentarios">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div>
            <div class="row">
                <div class="col-20"></div>
                <div class="col-40 padding10">
                    <p class="izquierda fontGris7">Charles Xavier</p>
                </div>
                <div class="col-40 padding10">
                    <p class="derecha fontGris7">20 Min</p>
                </div>
            </div>
            <div class="row row-center margin10Top">
                <div class="col-20">
                    <div class="izquierda">
                        <img src="main/assets/images/perfil.jpg" class="img8 alignV" alt="">
                    </div>
                </div>
                <div class="col-80">
                    <div class="derecha" style="width: 100%;">
                        <div class="row row-center margin10Top">
                            <div class="pico6"></div>
                            <div class="backCrema bordeIzquierda">
                                <p class="fontNegro10">Lorem </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="row">
                <div class="col-40 padding10">
                    <p class="izquierda fontGris7">Charles Xavier</p>
                </div>
                <div class="col-40 padding10">
                    <p class="derecha fontGris7">20 Min</p>
                </div>
                <div class="col-20"></div>
            </div>
            <div class="row row-center margin10Top">
                <div class="col-80">
                    <div class="izquierda" style="width: 100%;">
                        <div class="row row-center margin10Top">
                            <div class="backCrema bordeDerecha">
                                <p class="fontNegro10">Lorem </p>
                            </div>
                            <div class="pico7"></div>
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="derecha">
                        <img src="main/assets/images/perfil.jpg" class="img8" alt="">
                    </div>
                </div>
            </div>
        </div>


 
    </ion-content>
    <ion-footer-bar>
        <div class="row">
            <div class="col-90">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Escribe un comentario" class="miInput">
                </label>
            </div>
            <div class="col-10">
                <button class="button15 hvr-float-shadow"><img src="main/assets/images/icono/87.png" class="alignV" width="15px" alt="">
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>