<ion-view view-title="Publica">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col-50"> 
                            <div class="circuloGris hvr-grow">
                                <span>A</span>
                            </div>
            <!--<img src="main/assets/images/perfil.jpg" class="img9 alignV" alt=""> --></div>
            <div class="col-50">
                <!---desplegar modal privacidad de vista modales-->
                <button class="button21 derecha alignV" ui-sref="main.compartirPrivacidad"> <img src="main/assets/images/icono/173.png" width="15px"> Público </button>
            </div>
        </div>
        <div class="row">
            <div class="padding10">
                <br>
                <label class="item-input-wrapper">
                    <textarea rows="10" cols="50" name="" id="" placeholder="" class="" style="width:100%"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach>
        <div class="row row-center">
            <div class="col-75">
                <div class="row" align="center">
                    <div class="col-20"> <img src="main/assets/images/icono/121.png" class="alignV hvr-grow" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/120.png" class="alignV hvr-grow" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/117.png" class="alignV hvr-grow" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/174.png" class="alignV hvr-grow" width="20px" alt=""> </div>
                    <div class="col-20"> <img src="main/assets/images/icono/123.png" class="alignV hvr-grow" width="20px" alt=""> </div>
                </div>
            </div>
            <div class="col-25">
                <p class="fontAzul">Compartir</p>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>