<ion-view view-title="Publica">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col-50">
                <img src="main/assets/images/perfil.jpg" class="img9 alignV hvr-grow" alt="">
            </div>
            <div class="col-50" id="btnCompartir">
                <button class="button21 derecha alignV">
                    <img src="main/assets/images/icono/173.png" width="15px" alt=""> Público
                </button>
            </div>
        </div>
        <div class="row">
            <div class="padding10">
                <br>
                <label class="item-input-wrapper">
                    <textarea rows="5" cols="50" name="" id="" placeholder="Escribe un comentario" style="width:100%"></textarea>
                </label>
            </div>
        </div>

        <div class="backBlanco margin10Top borde3">
            <div class="row row-center padding10" ui-sref="main.amigo">
                <div class="col-33">
                    <p class="fontNegro9">Sandra Juárez </p>
                </div>
                <div class="col-33" align="center">
                    <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
                </div>
                <div class="col-33">
                    <p class="fontGris2">32 min</p>
                    <p class="fontGris2">Ciudad de México</p>
                </div>
            </div>
            <div align="center" style="padding-bottom:10px;">
                <p class="fontGris4">He completado mi meta “Correr 10km”.</p>
                <p class="fontGris4">¡Gracias totales!</p>
            </div>
        </div>

        <div class="backBlanco margin10Top borde3 hide">
            <div class="row row-center padding10" align="center">
                <div class="col-33">
                    <p class="fontNegro">Sandra Juárez</p>
                </div>
                <div class="col-33" align="center">
                    <img src="main/assets/images/perfil.jpg" class="img9" alt="">
                </div>
                <div class="col-33">
                    <p class="fontGris2">Monterrey, México</p>
                </div>
            </div>
            <div align="center">
                <div class="padding10">
                    <p class="fontNegro9">Juanito, nuestro primer bebito, necesita</p>
                    <p class="fontNegro9">urgentemente una transfusión, lo operaron ayer y</p>
                    <p class="fontNegro9">perdió mucha sangre. Por favor ayúdanos!!</p>
                </div>
                <div class="">
                    <div class="imgTiempo">
                        <img src="main/assets/images/icono/38.png" width="30px;">
                        <div class="backBlanco sombra">
                            <p class="fontAzul3">Sólo quedan
                                <br> 5 días</p>
                        </div>
                    </div>
                    <img src="main/assets/images/beb.png" class="imgDonar ">
                </div>
            </div>
            <div class="padding10">
                <p class="fontNegro1">5/7 Donantes</p>
                <progress value="90" max="100" class="barraVerde"></progress>
                <img src="main/assets/images/line.png" width="100%" alt="">

                <div class="row margin10" align="center">
                    <div class="col-50">
                        <img src="main/assets/images/icono/20.png" class="img7" alt="">
                    </div>
                    <div class="col-50" ui-sref="main.donacionesUno">
                        <img src="main/assets/images/icono/136.png" class="img7" alt="">
                    </div>
                </div>
            </div> 
        </div>
        <div>
            <p class="fontNegro9 text-center">Comparte en: </p>
            <img src="main/assets/images/line.png" width="100%" alt="">
            <div class="row" align="center">
                <div class="col-25">
                    <span class="fontGris2 hvr-grow"><img src="main/assets/images/icono/218.png" width="13px" class="alignV" alt="">Bitrubio</span>
                </div>
                <div class="col-25">
                    <span class="fontGris2 alignV color2 hvr-grow"><i class="ion-social-facebook alignV"></i> Facebook</span>
                </div>
                <div class="col-25">
                    <span class="fontGris2 alignV color2 hvr-grow"><i class="ion-social-whatsapp-outline alignV"></i> Whatsapp</span>
                </div>
                <div class="col-25">
                    <span class="fontGris2 alignV color2 hvr-grow"><i class="ion-social-linkedin-outline alignV"></i> Linked In</span>
                </div>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar keyboard-attach>
        <div class="row row-center">
            <div class="col-75">
                <div class="row" align="center">
                    <div class="col-20">
                        <img src="main/assets/images/icono/121.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/120.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/117.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/174.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-20">
                        <img src="main/assets/images/icono/123.png" class="alignV hvr-grow" width="20px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-25">
                <p class="fontAzul">Compartir</p>
            </div> 
        </div>
    </ion-footer-bar>
</ion-view>