<ion-view view-title="Busca">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <!-- do you want padding? -->
    <ion-content class="padding">

        <div class=" backBlanco padding10Top">
            <label class="item item-input inputS">
                <img src="main/assets/images/icono/16.png" class="hvr-grow" width="20px;">
                <input type="serch" class="inputS" placeholder="Busca">
            </label>
        </div>
        <div class="">
            <div class="backBlanco margin10Top b1-7ab">
                <div class="">
                    <div class="padding10">
                        <div class="row row-center padding10Top">
                            <div class="col-33" ui-sref="main.perfilMedico">
                                <p class="fontNegro1">Eduin Garnica</p>
                            </div>
                            <div class="col-33" align="center" ui-sref="main.perfilMedico">
                                <div class="backImg2">
                                    <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
                                </div>
                            </div>
                            <div class="col-33">
                                <img src="main/assets/images/icono/55.png" class="derecha margin5 hvr-grow" width="25px" alt="">
                            </div>
                        </div>
                        <div class="margin5">
                            <p class="fontNegro text-center">Comparto mi expediente para proximas consultas</p>
                        </div>
                        <div class="row">
                            <div class="col-100 text-right">
                                <p class="fontGris4">Ciudad de México</p>
                            </div>
                        </div>
                    </div>
                    <div class="backVerde padding5Top">
                        <div class="row row-center" align="center">
                            <div class="col-33 text-center hvr-grow">
                                <span class="fontBlanco relative block">
                <span class="count">10</span>
                                <img src="main/assets/images/icono/100.png" style="width:36px;margin:0 0 0px 0" alt="">
                                </span>
                            </div>
                            <div class="col-33 hvr-grow">
                                <span class="fontBlanco relative block">
                <span class="count">10</span>
                                <img src="main/assets/images/icono/85.png" style="width:36px;margin:0 0 0px 0" alt="">
                                </span>

                            </div>
                            <div class="col-33">
                                <div class="hvr-grow">
                                    <img src="main/assets/images/icono/99.png" width="20px" alt="">
                                    <span class="fontBlanco6 relative" style="top:-13px;left: -5px;">20</span>
                                </div>
                                <p class="fontBlanco6">Amigos en comun</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backBlanco margin10Top b-lrtb">
                <div class="">
                    <div class="padding10">
                        <div class="row row-center padding10Top">
                            <div class="col-33" ui-sref="main.perfilMedico">
                                <p class="fontNegro1">Eduin Garnica</p>
                            </div>
                            <div class="col-33" align="center" ui-sref="main.perfilMedico">
                                <div class="backImg2">
                                    <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
                                </div>
                            </div>
                            <div class="col-33">
                                <img src="main/assets/images/icono/55.png" class="derecha margin5" width="25px" alt="">
                            </div>
                        </div>
                        <div class="margin5">
                            <p class="fontNegro text-center">Comparto mi expediente para proximas consultas</p>
                        </div>
                        <div class="row">
                            <div class="col-100 text-right">
                                <p class="fontGris4">Ciudad de México</p>
                            </div>
                        </div>
                    </div>
                    <div class="backGris2 padding5Top">
                        <div class="row row-center" align="center">
                            <div class="col-33 text-center">
                                <div class="hvr-grow">
                                    <img class="mlrauto" src="main/assets/images/icono/195.png" width="20px" alt="">
                                    <span class="fontAzul6 relative" style="top:-13px;left: -5px;">20</span>
                                </div>
                                <p class="fontAzul6">Doctores</p>
                            </div>
                            <div class="col-33 hvr-grow">
                                <span class="fontAzul relative block"><span class="count">10</span><img src="main/assets/images/icono/48.png" style="width:36px;margin:0 0 0px 0" alt=""></span>

                            </div>
                            <div class="col-33">
                                <div class="hvr-grow">
                                    <img src="main/assets/images/icono/195.png" width="20px" alt="">
                                    <span class="fontAzul6 relative" style="top:-13px;left: -5px;">20</span>
                                </div>
                                <p class="fontAzul6">Amigos en comun</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>