<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <div class="pt20">

        <div class="bloque8">
          <p class="text-center fontNegro4">¡Felicidades!<br /><span class="mt10 block"> Ganaste 200 beats</span></p>
        </div>
        <div class="text-center pt20">
          <img src="main/assets/images/icono/102.png" width="60px" alt="">
        </div>
        <p class="text-center fontNegro4">20 invitaciones enviadas<br /><span class="mt10 block"> vía SMS</span></p>
        <div class="row">
          <div class="col-100 text-center">
            <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow" href="#/main/home">
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
