<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Ingresa con facebook</h4>
      <div class="pt20">
        <div class="backNaranja padding20 radius10">
          <div class="col-100">
            <label class="item-input-wrapper margin20Top item-input-popup">
            <input type="text" placeholder="Correo" class="miInput">
            </label>
            <label class="item-input-wrapper margin20Top item-input-popup">
              <input type="text" placeholder="Contraseña" class="miInput">
            </label>
          </div>
        </div>
        <div class="pico_2">

        </div>
        <div class="row">
        <!--<input id="demo" placeholder="Please Select..." />-->
        <!-- <div class="w100 block"><br />
        <div id="demo-inline"></div>
        </div> -->
          <div class="col-100 text-center">
            <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow" href="#/main/home">
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
