<ion-view view-title="Configuración">
    <ion-nav-buttons side="right">
        <div ui-sref="main.bit">
            <span style="font-size:16px;">100 <img src="main/assets/images/iconos/img22.png" style="height:10px; margin-bottom:10px;" alt=""></span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item item-divider">
                This is your configuracion template!
            </ion-item>
            <ion-item class="item item-icon">
                Yeiiii!
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>