<ion-view view-title="Conócenos">

    <ion-content>
        <div align="center" class="figura padding10">

            <img src="main/assets/images/bit/feliz3.png" class="img2" alt="">
            <p class="fontBlanco1">¡Bienvenido Christian!</p>
            <p class="fontBlanco1">Conoce todo lo que puedes</p>
            <p class="fontBlanco1">hacer con bitrubio</p>
        </div>
        <div align="center" class="backConocenos">
            <div class="pico">
            </div>
        </div>
        <div align="center" style="margin-top:30px;">
            <div class="circuloActivo">

            </div>
            <div class="circuloActivo">

            </div>
            <div class="circuloNoactivo">

            </div>
        </div>
        <div align="center">
            <button ui-sref="main.invita" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
        </div>
    </ion-content>
</ion-view>