<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height51">
  <div class="pt20">
                    <div class="backNaranja padding20 radius10">
                        <p class="text-center fontBlanco2">¿Queres guaradar la consulta?</p>
                    </div>
                    <div class="pico_2">

                    </div>
                    <div class="bloque8">
                    <div class="text-center pt20">
                            
                        <div class="row">
                            <div class="col-50 text-center">
                                <button ui-sref="main.home" class="button3 bloque2 backRojo_1 hvr-float-shadow" href="#/main/home">
                        <img src="main/assets/images/icono/69.png" width="20px" alt=""></button>
                            </div>
                            <div class="col-50 text-center">
                                <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow" href="#/main/home">
                        <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                            </div>
                        </div>
                        
                    </div>
                </div>

    
  </div>
  </ion-content>
</ion-view>
