<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding card-carrera">
    <!-- content goes here -->
    <div align="center" style="margin-left: 100px;">
      <button class="buttonVerde">
        <span style="line-height:40px;"> Video consulta </span>
        <div class="relative borde50 bg-7ab derecha wh38"><img src="main/assets/images/icono/71.png" class="center1" width="20px" alt=""> </div></button>
    </div>
    <br>
    <div align="center">
      <button class="buttonVerde">
        <span style="line-height:40px;"> Consultorio </span>
       <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/238.png" class="center1" width="20px" alt=""> 
        </div> </button>
    </div>
    <br>
    <div align="center" style="margin-left: 100px;">
      <button class="buttonVerde">
        <span style="line-height:40px;"> Domicilio</span>
          <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/239.png" class="center1" width="20px" alt=""> 
        </div> </button>
    </div>
    
  </ion-content>
</ion-view>
