<ion-view view-title="Consultas">
  <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding">
    <div class="backBlanco padding10 margin10Top">
      <div class="padding10">
        <div class="row row-center" ui-sref="main.consulta">
          <div class="col-33">
            <p class="fontNegro1">Cardiologo</p>
          </div>
          <div class="col-33" align="center">
            <div class="">
             <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> 
            </div>
          </div>
         <div class="col-33">
          <p class="fontVerde6 derecha">10 junio 2017</p>
         </div>
      </div>
      <div class="padding10Top">
        <img src="main/assets/images/line.png" width="100%;" alt=""> 
      </div>
      <div class="">
        <div class="row pb20">
          <div class="padding5Top">
            <img src="main/assets/images/icono/35.png" width="20px" class="alignV hvr-grow" alt="">
            <span class="fontNegro9 alignV  padding10Lef">Falta poner refuerzo</span>
          </div>
        </div>
        <div class="row pb20">
          <div class="padding5Top">
            <img src="main/assets/images/icono/167.png" width="20px" class="alignV hvr-grow" alt="">
            <span class="fontNegro9 alignV  padding10Lef">Amigdalitis aguda</span>
          </div>
        </div>
        <div class="row pb20">
          <div class="row padding5Top">
            <div class="col-10" align="center">
              <img src="main/assets/images/icono/34.png" width="20px" class="alignV hvr-grow" alt=""> 
            </div>
            <div class="col-90">
             <p class="fontAzul padding10Lef underline">2ml de paracetamol</p>
           </div>
         </div>
       </div>
       <div class="row pb20">
          <div class="row padding5Top">
            <div class="col-10" align="center">
              <img src="main/assets/images/icono/132.png" width="20px" class="alignV hvr-grow" alt=""> 
            </div>
            <div class="col-90">
             <p class="fontAzul padding10Lef underline">Consultas relacionadas</p>
           </div>
         </div>
       </div>
       <div class="row pb20">
          <div class="row">
            <div class="col-10" align="center">
              <div class=" inline-block"><img src="main/assets/images/icono/36.png" width="20px" class="hvr-grow" /></div>
            </div>
            <div class="col-90 text-left padding10Lef">
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" class="hvr-grow" width="17px" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" class="hvr-grow" width="17px" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" class="hvr-grow" width="17px" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" class="hvr-grow" width="17px" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" class="hvr-grow" width="17px" /></div>
            </div>
          </div>
       
      </div>
       <div class="row mb30">
        <div class="col-100 text-right">
          <div class="padding5Top derecha" ui-sref="main.receta">
            <span class="fontAzul alignV">Archivos de consulta</span>
            <img src="main/assets/images/icono/24.png" width="15px" class="alignV" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <div class="backBtn_1 backVerde derecha">
            <div align="center"> 
              <img src="main/assets/images/icono/90.png" class="margin5" width="20px">
            </div>
          </div><br />
          <div class="text-right derecha" style="width: 70px; clear: both;">
          <p class="fontVerde1 text-center">Pregunta a<br /> colegas</p>
          </div>
        </div>
        <div class="col-50">
          <div class="backBtn_2 backVerde left">
            <div align="center">
              <img src="main/assets/images/icono/74.png" class="margin5" width="20px">
            </div>
          </div><br />
          <div class="text-left" style="width: 70px;  clear: both;">
          <p class="fontVerde1 text-center mt10">Consulta de<br /> seguimiento</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

</ion-content>
</ion-view>
