<ion-view view-title="Consultas">
  <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="" style="margin-bottom: 84px;">
    <div>
      <div class="row row-center padding10Top">
              <div class="col-20 text-right">
                <img src="main/assets/images/icono/126.png" width="10px" class="alignV hvr-grow" alt="">
              </div>
              <div class="col-60" align="center">
                <span class="fontAzul pl10">18 de Junio del 2016</span>
              </div>
              <div class="col-20">
                <img src="main/assets/images/icono/127.png" width="10px" class="alignV hvr-grow" alt="">
              </div>
            </div>
      <div class="backCrema">
        <div class="backBlanco  margin10Top" menu-close ui-sref="main.consulta13">
          <div class="padding10">
            <div class="row row-center">
              <div class="col-33">
                <img src="main/assets/images/icono/42.png" width="20px" class="alignV hvr-grow" alt="">
                <span class="fontNegro10 pl10">9:40 - 10:00</span>
              </div>
              <div class="col-33" align="center">
                <div class="backImg"> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
              </div>
              <div class="col-33">
                <p class="fontNegro10">Eduin Garnica</p>
              </div>
            </div>
            <div class="">
              <div class="row">
                <div class="col-100 text-center">
                  <div class="padding5Top text-center">
                    <img src="main/assets/images/icono/46.png" width="20px" class="alignV hvr-grow" alt="">
                    <span class="fontNegro10 alignV  padding10Lef">Hospital Ángeles pedregal</span></div>
                  </div>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
          </div>
                  <div class="backBlanco  margin10Top">
          <div class="padding10">
            <div class="row row-center">
              <div class="col-33">
                <img src="main/assets/images/icono/42.png" width="20px" class="alignV hvr-grow" alt="">
                <span class="fontNegro10 pl10">9:40 - 10:00</span>
              </div>
              <div class="col-33" align="center">
                <div class="backImg"> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
              </div>
              <div class="col-33">
                <p class="fontNegro10">Eduin Garnica</p>
              </div>
            </div>
            <div class="">
              <div class="row">
                <div class="col-100 text-center">
                  <div class="padding5Top text-center">
                    <img src="main/assets/images/icono/46.png" width="20px" class="alignV hvr-grow" alt="">
                    <span class="fontNegro10 alignV  padding10Lef">Videoconsulta</span></div>
                  </div>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
          </div>
                  <div class="backBlanco margin10Top">
          <div class="padding10">
            <div class="row row-center">
              <div class="col-33">
                <img src="main/assets/images/icono/42.png" width="20px" class="alignV hvr-grow" alt="">
                <span class="fontNegro10 pl10">9:40 - 10:00</span>
              </div>
              <div class="col-33" align="center">
                <div class="backImg"> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
              </div>
              <div class="col-33">
                <p class="fontNegro10">Eduin Garnica</p>
              </div>
            </div>
            <div class="">
              <div class="row">
                <div class="col-100 text-center">
                  <div class="padding5Top text-center">
                    <img src="main/assets/images/icono/46.png" width="20px" class="alignV hvr-grow" alt="">
                    <span class="fontNegro10 alignV  padding10Lef">Llamada</span></div>
                  </div>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
          </div>
          <div class="backBlanco margin10Top">
            <div class="padding10">
              <div class="row row-center">
                <div class="col-33">
                  <img src="main/assets/images/icono/42.png" width="20px" class="alignV hvr-grow" alt="">
                  <span class="fontNegro10 pl10">9:40 - 10:00</span>
                </div>
                <div class="col-33" align="center">
                  <div class="backImg"> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
                </div>
                <div class="col-33">
                  <p class="fontNegro10">Eduin Garnica</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="">
            <div class="row padding10Top backNaranja">
              <div class="col-80 pl10">

              <img src="main/assets/images/icono/71.png" width="20px" class="alignV hvr-grow" alt="">
                <span class="fontBlanco pl10">Asistencias remotas activas</span>
              </div>
              <div class="col-20">
                <img src="main/assets/images/icono/166.png" width="20px" class="derecha hvr-grow" alt="">
              </div>
            </div>
            <div class="divider3"></div>
            <div class="row padding10Top">
              <div class="col-80 pl10">
              <img src="main/assets/images/icono/261.png" width="20px" class="alignV hvr-grow" alt="">
                <span class="fontAzul pl10">Consulta no programada</span>
              </div>
              <div class="col-20">
                <img src="main/assets/images/icono/24.png" width="20px" class="derecha hvr-grow" alt="">
              </div>
            </div>
            <div class="divider3"></div>
          </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="height:60px; background-color: #0f698d  !important;">
        <div align="center" class="row">
            <div class="col-20 hvr-grow">
                <img src="main/assets/images/icono/74.png" class="imgMenu" alt="">
                <p class="textMenu">Noticias</p>
            </div>
            <div class="col-20 hvr-grow" ui-sref="main.agenda">
                <img src="main/assets/images/icono/89.png" class="imgMenu" alt=""> 
                <p class="textMenu">Agenda</p>
            </div>
            <div class="col-20" ui-sref="main.consultas"> 
                <img src="main/assets/images/icono/128.png" class="itemMenu hvr-grow" alt="">
                <div class="textMenu1">
                    <p class="textMenu">Consultas</p> 
                </div> 
            </div> 
            <div class="col-20 hvr-grow" ui-sref="main.llenarPerfil">
                <img src="main/assets/images/icono/78.png" class="imgMenu" alt="">
                <p class="textMenu">Expediente</p>
            </div>
            <div class="col-20 hvr-grow" ui-sref="main.negocio">
                <img src="main/assets/images/icono/216.png" class="imgMenu" alt="">
                <p class="textMenu">Negocio</p> 
            </div>
        </div>
    </div> 
</ion-view>
