<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding card-carrera">
    <!-- content goes here -->
    <div align="center">
      <button class="buttonVerde" ui-sref="main.consulta2">
          <span style="line-height:40px;"> Nueva </span>
          <div class="relative borde50 bg-7ab derecha wh38">
            <img src="main/assets/images/icono/236.png" class="center1" width="20px" alt=""> 
          </div>
      </button>
    </div>
    <br>
    <div align="center">
      <button class="buttonVerde">
        <span style="line-height:40px;"> Seguimiento </span>
        <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/237.png" class="center1" width="20px" alt=""> 
        </div>
      </button>
    </div>
  </ion-content>
</ion-view>
