<ion-view view-title="Consultas">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <div class="backBlanco padding10 margin10Top">
            <div class="padding10">
                <div class="row row-center" ui-sref="main.consulta">
                    <div class="col-33">
                        <p class="fontNegro1">Cardiologo</p>
                    </div>
                    <div class="col-33" align="center">
                        <div class="">
                            <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt="">
                        </div>
                    </div>
                    <div class="col-33">
                        <p class="fontVerde6 derecha">10 junio 2017</p>
                    </div>
                </div>
                <div class="padding10Top">
                    <img src="main/assets/images/line.png" width="100%;" alt="">
                </div>
                <div class="">
                    <div class="row pb20">
                        <div class="padding5Top">
                            <img src="main/assets/images/icono/35.png" width="20px" class="alignV hvr-grow" alt="">
                            <span class="fontNegro9 alignV padding10Lef">Falta poner refuerzo</span>
                        </div>
                    </div>
                    <div class="row pb20">
                        <div class="padding5Top">
                            <img src="main/assets/images/icono/167.png" width="20px" class="alignV hvr-grow" alt="">
                            <span class="fontNegro9 alignV padding10Lef">Amigdalitis aguda</span>
                        </div>
                    </div>
                    <div class="row pb20">
                        <div class="padding5Top">
                            <img src="main/assets/images/icono/34.png" width="20px" class="alignV hvr-grow" alt="">
                            <span class="fontAzul3 padding10Lef underline alignV">2ml de paracetamol</span>
                        </div>
                    </div>
                    <div class="row pb20">
                        <div class=" padding5Top">
                            <img src="main/assets/images/icono/62.png" width="20px" class="alignV hvr-grow" alt="">
                            <span class="fontNegro9 padding10Lef alignV">$450.00</span>
                        </div>
                    </div>
                    <div class="row pb20">
                        <div class="padding5Top">
                            <img src="main/assets/images/icono/8.png" width="20px" class="alignV hvr-grow" alt="">
                            <span class="fontNegro9 padding10Lef alignV">
                        <div class="circuloNegro"></div>
                        <div class="circuloNegro"></div>
                        <div class="circuloNegro"></div>
                        <div class="circuloNegro"></div>
                 <span class="pl10">  4273</span>
                            </span>
                        </div>
                    </div>
                    <div class="row pb20">
                        <div class="padding5Top">
                            <img class="alignV hvr-grow" src="main/assets/images/icono/36.png" width="20px" />
                            <span class="fontNegro padding10Lef alignV">
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" width="17px" class="hvr-grow" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" width="17px" class="hvr-grow" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" width="17px" class="hvr-grow" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" width="17px" class="hvr-grow" /></div>
              <div class="col13 inline-block"><img src="main/assets/images/icono/112.png" width="17px" class="hvr-grow" /></div>
            </span>
                        </div>
                    </div>
                    <div class="row pb20">
                        <div class=" padding5Top">
                            <img src="main/assets/images/icono/132.png" width="20px" class="alignV hvr-grow" alt="">
                            <span class="fontAzul padding10Lef underline">Consultas relacionadas</span>
                        </div>
                    </div>

                    <div class="row mb30">
                        <div class="col-100 text-right">
                            <div class="padding5Top derecha" ui-sref="main.receta">
                                <span class="fontAzul alignV">Archivos de consulta</span>
                                <img src="main/assets/images/icono/24.png" width="15px" class="alignV" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <div class="backBtn_1 backVerde derecha">
                                <div align="center">
                                    <img src="main/assets/images/icono/90.png" class="margin5 hvr-grow" width="20px">
                                </div>
                            </div>
                            <br />
                            <div class="text-right derecha" style="width: 70px; clear: both;">
                                <p class="fontVerde1 text-center">Pregunta a
                                    <br /> colegas</p>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="backBtn_2 backVerde left">
                                <div align="center">
                                    <img src="main/assets/images/icono/74.png" class="margin5 hvr-grow" width="20px">
                                </div>
                            </div>
                            <br />
                            <div class="text-left" style="width: 70px">
                                <p class="fontVerde1 text-center mt10">Consulta de
                                    <br /> seguimiento</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>