<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
  <div class="">
  <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Asistencia remota</h4>
  <div class="pt20">
                    <div class="backNaranja padding20 radius10">
                        <p class="text-center fontBlanco2">Estoy listo para nuestra videoconsulta</p>
                    </div>
                    <div class="pico_2">

                    </div>
                    <div class="bloque8">
                    <div class="text-center pt20">
                                <img src="main/assets/images/perfil.jpg" class="img9" alt="">
                            </div>
                            <p class="text-center fontGris">Robert Smith</p>

                        <p class="fontAzul2 text-center">Asistir en:</p>
                       <br>
                        <div class="row">
                            <div class="col-50">
                                <div class="backBtn_1 backVerde derecha">
                                    <div align="center" class="fontBlanco7 mt8">
                                        3 minutos
                                    </div>
                                </div>
                            </div>
                            <div class="col-50">
                                <div class="backBtn_2 backVerde left">
                                    <div align="center" class="fontBlanco7 mt8">
                                        2 minutos
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
  </div>
  </ion-content>
</ion-view>
