<ion-view view-title="Mi consulta">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
        <div class="backBlanco padding10">
            <div class="row row-center margin10">
                <div class="col-33">
                    <p class="fontNegro1">Sandra Juárez</p>
                    <p class="fontGris4">Medico General</p>
                </div>
                <div class="col-33" align="center">
                    <div class=""> <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt=""> </div>
                </div>
                <div class="col-33">
                    <p class="fontVerde6 derecha">10 junio 2017</p>
                </div>
            </div>
            <div class="padding10Top">
                <img src="main/assets/images/line.png" width="100%;" alt="">
            </div>


            <div class="row row-center margin20Top">
                <img src="main/assets/images/icono/167.png" height="20px" class="hvr-grow">
                <span class="fontNegro padding10Lef">Diagnostico</span>
            </div>
            <div class="divD ">
                <p class="fontNegro">Amigdalitis aguda</p>
            </div>
            <div class="row row-center margin20Top">
                <img src="main/assets/images/icono/35.png" height="20px" class="hvr-grow">
                <p class="fontNegro padding10Lef">Observaciones</p>
            </div>
            <div class=" divD">
                <p class="fontNegro">Reposos absoluto</p>
            </div>
            <div class="row row-center margin20Top">
                <img src="main/assets/images/icono/34.png" height="20px" class="hvr-grow">
                <p class="fontNegro padding10Lef">Tratamiento</p>
            </div>
            <div class="divD">
                <p class="fontNegro">Paracetamol</p>
            </div>
            <div class="row row-center margin20Top">
                <img src="main/assets/images/icono/62.png" height="20px" class="hvr-grow">
                <p class="fontNegro padding10Lef">Costo por consulta</p>
            </div>
            <div class="divD">
                <p class="fontNegro">$500</p>
            </div>
            <div class="row row-center margin20Top">
                <img src="main/assets/images/icono/36.png" height="20px" class="hvr-grow">
                <p class="fontNegro padding10Lef">Calificación</p>
            </div>
            <div class="divD">
                <i class="ion-android-star color1 hvr-grow"></i>
                <i class="ion-android-star color1 hvr-grow"></i>
                <i class="ion-android-star-outline color1 hvr-grow"></i>
                <i class="ion-android-star-outline color1 hvr-grow"></i>
                <i class="ion-android-star-outline color1 hvr-grow"></i>
            </div>
        </div>
    </ion-content>
</ion-view>