<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height40">
    <div class="">
      <div class="pt10">
        <div class="bloque8 mb20 mt30">
        <p class="text-center fontGris5">Gracias por tu apoyo</p>
        </div>
        <div class="row">
          <div class="col-100 text-center">
            <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow" href="#/main/home">
              <img src="main/assets/images/icono/87.png" width="20px" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
