<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height88">
    <div class="">
      <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Reporte de defunción:</h4>
      <div class="pt10">

        <div class="bloque8 mb20">
        <p class="text-center fontGris">Eso detonará un proceso<br /> para validar la muerte de:</p>
          <div class="text-center pt10">
            <img src="main/assets/images/perfil.jpg" class="img9" alt="">
          </div>
          <p class="text-center fontGris">Robert Smith</p>
        </div>
         <p class="text-center fontGris mb20">Con sus familiares y amigos</p>
         <div class="backNaranja padding20 radius10">
          <p class="text-center fontBlanco2">¿Quieres continuar con el proceso?</p>
        </div>
        <div class="pico_2"></div>

        <div class="row">
          <div class="col-100 text-center">
            <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow" href="#/main/home">
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>
        </div>


      </div>
    </ion-content>
  </ion-view>
