<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Publicación exitosa</h4>
      <div class="pt20">
        <div class="backNaranja padding20 radius10">
          <p class="text-center fontBlanco2">¿Quieres compartirla con mas personas?</p>
        </div>
        <div class="pico_2">

        </div>
        <div class="bloque8 mt30">
          <div class="row">
            <div class="col-50">
              <div class="backBtn derecha">
                <div align="center" class="fontBlanco7 mt8">
                  3 minutos
                </div>
              </div>
            </div>
            <div class="col-50">
              <div class="backBtn1">
                <div align="center" class="fontBlanco7 mt8">
                  2 minutos
                </div>
              </div>
            </div>
          </div>
          <div class="col-100 text-center">
            <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow" href="#/main/home">
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
