<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <h4 class="text-center bb2 pb5 w80p mlrauto c-black">¿Quieres detonar una donación?</h4>
      <div class="pt20">
        <div class="bloque8 mt30">
          <div class="text-center">
            <img src="main/assets/images/perfil.jpg" class="img10" alt="">
          </div>
          <p class="text-center fontAzul">Robert Smith</p>
          <div class="col-100 text-center">
            <button class="button3 bloque2 hvr-float-shadow">
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
