<ion-view view-title="Donaciones">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
  
        <div>
            <form action="" class="">
                <div class="backBlanco">
                    <div class="backVerde padding10 margin10">
                        <p class="text-center fontBlanco">Pide donacion a los bitrubians</p>
                        <p class="text-center fontBlanco">con tu tipo de sangre.</p>
                    </div>
                    <div class="pico"> </div>
                    <br>
                    <div class="row padding10">
                        <div class="col-100 list">
                            <label class="item-input-wrapper margin20Top"> 
                               <img src="main/assets/images/icono/45.png" class="img1 hvr-grow" alt="">
                                <input type="text" placeholder="Tipo de sangre" class="miInput"> 
                                </label>
                            <label class="item-input-wrapper margin20Top">
                                <img src="main/assets/images/icono/1.png" class="img1 hvr-grow" alt="">
                                <input type="number" placeholder="Paciente" class="miInput">
                                 </label>
                            <label class="item-input-wrapper margin20Top">
                                <img src="main/assets/images/icono/46.png" class="img1 hvr-grow" alt="">
                                <input type="email" placeholder="Ubicación (país, ciudad)" class="miInput"> 
                                </label>
                            <label class="item-input-wrapper margin20Top"> 
                               <img src="main/assets/images/icono/60.png" class="img1 hvr-grow" alt="">
                                <input type="text" placeholder="Hospital" class="miInput"> 
                                </label>
                            <label class="item-input-wrapper margin20Top"> 
                               <img src="main/assets/images/icono/137.png" class="img1 hvr-grow" alt="">
                                <input type="text" placeholder="Habitación" class="miInput">
                                 </label>
                            <label class="item-input-wrapper margin20Top"> 
                               <img src="main/assets/images/icono/9.png" class="img1 hvr-grow" alt="">
                                <input type="text" placeholder="Fecha límite" class="miInput">
                                 </label>
                            <label class="item-input-wrapper margin20Top"> 
                               <img src="main/assets/images/icono/48.png" class="img1 hvr-grow" alt="">
                                <input type="text" placeholder="Número de beats por donación" class="miInput"> 
                                </label>
                            <label class="item-input-wrapper margin20Top"> 
                               <img src="main/assets/images/icono/5.png" class="img1 hvr-grow" alt="">
                                <input type="text" placeholder="Número de celular" class="miInput">
                                 </label>
                        </div>
                    </div>
                </div>
                <div class="backBlanco padding10 margin10Top">
                    <div class="item-input-wrapper">
                        <div class="row">
                            <div class="col-75"> 
                               <img src="main/assets/images/icono/9.png" class=" 
                                alignV hvr-grow" width="20px" alt="">
                                 <span class="fontAzul4 alignV"> Programa cita</span> </div>
                            <div class="col-25"> <img src="main/assets/images/icono/23.png" class="derecha alignV" width="20px" alt=""> </div>
                        </div>
                    </div>
                    <div class="divider"> </div>
                    <label class="item-input-wrapper margin20Top" style="margin-left:30px">
                        <img src="main/assets/images/icono/9.png" class="img1 hvr-grow" alt="">
                        <input type="text" placeholder="Fecha" class="miInput"> </label>
                    <label class="item-input-wrapper margin20Top" style="margin-left:30px">
                        <img src="main/assets/images/icono/133.png" class="img1 hvr-grow" alt="">
                        <input type="text" placeholder="Hora" class="miInput"> </label>
                </div>
                <div class="backBlanco padding10 margin10Top">
                    <div style="height:100px;">
                        <label class="item-input-wrapper">
                            <textarea name="" id="" placeholder="Explica para quién / qué necesitas la donación" class="" style="width:100%"></textarea>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-60" align="center">
                            <div class="row">
                                <div class="col-25"> <img src="main/assets/images/icono/121.png" width="20px" alt="" class="hvr-grow"> </div>
                                <div class="col-25"> <img src="main/assets/images/icono/120.png" width="20px" alt="" class="hvr-grow"> </div>
                                <div class="col-25"> <img src="main/assets/images/icono/117.png" width="20px" alt="" class="hvr-grow"> </div>
                                <div class="col-25"> <img src="main/assets/images/icono/123.png" width="20px" alt="" class="hvr-grow"> </div>
                            </div>
                        </div>
                        <div class="col-40" align="center">
                            <div class="row">
                                <div class="col-50">
                                    <p class="fontAzul5" ui-sref="main.vistaPrevia">Vista previa</p>
                                </div>
                                <div class="col-50">
                                    <p class="fontAzul5">Publicar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>