<ion-view view-title="Tu comunidad">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
   <ion-nav-buttons side="right">
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="padding10Top backBlanco">
            <label class="item item-input inputS"> <img src="main/assets/images/icono/16.png" width="20px;" class="hvr-grow">
                <input type="serch" class="inputS" placeholder="Busca Doctores"> </label>
        </div>
        <div class="row bloque1" align="center">
            <div class="col-33">
                <div class="button8 hvr-grow">
                    <img src="main/assets/images/icono/76.png" alt="" width="20px">
                </div>
               <div class="padding10Top">
                    <p class="fontNegro9">Elige e invita Doctores</p>
               </div>
            </div>
            
            <div class="col-33" ui-sref="main.amigo">
                <div>
                    <div class="imgContent">
                        <div class="button26">
                            <img src="main/assets/images/icono/125.png" alt="" width="25px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Sandra Juárez</p>
                    <div align="center">
                        <span class="fontAzul5">Nutriologa</span>
                    </div>
                </div>
            </div>
            <div class="col-33" ui-sref="main.amigo">
                <div>
                    <div class="imgContent">
                        <div class="button26">
                            <img src="main/assets/images/icono/125.png" alt="" width="25px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Sandra Juárez</p>
                    <div align="center">
                        <span class="fontAzul5">Nutriologa</span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row bloque1" align="center">
            <div class="col-33" ui-sref="main.amigo">
                <div>
                    <div class="imgContent">
                        <div class="button26">
                            <img src="main/assets/images/icono/125.png" alt="" width="25px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Sandra Juárez</p>
                    <div align="center">
                        <span class="fontAzul5">Nutriologa</span>
                    </div>
                </div>
            </div>
            <div class="col-33" ui-sref="main.amigo">
                <div>
                    <div class="imgContent">
                        <div class="button26">
                            <img src="main/assets/images/icono/125.png" alt="" width="25px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Sandra Juárez</p>
                    <div align="center">
                        <span class="fontAzul5">Nutriologa</span>
                    </div>
                </div>
            </div>
            <div class="col-33" ui-sref="main.amigo">
                <div>
                    <div class="imgContent">
                        <div class="button26">
                            <img src="main/assets/images/icono/125.png" alt="" width="25px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Sandra Juárez</p>
                    <div align="center">
                        <span class="fontAzul5">Nutriologa</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>