<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding card-afiliacion">
    <!-- content goes here -->
    <div align="center">
      <button class="buttonVerde">
      <span style="line-height:40px;"> asociación </span>
      <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/277.png" class="center1" width="20px" alt=""> 
        </div></button>
    </div>
    <br>
    <div align="center">
      <button class="buttonVerde">
      <span style="line-height:40px;"> Colegio </span>
       <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/278.png" class="center1" width="20px" alt=""> 
        </div></button>
    </div>
    <br>
    <div align="center">
      <button class="buttonVerde">
      <span style="line-height:40px;"> Grupo</span>
      <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/279.png" class="center1" width="20px" alt=""> 
        </div> </button>
    </div>
    <br>
    <div align="center">  
      <button class="buttonVerde">
      <span style="line-height:40px;"> Otro </span>
      <div class="relative borde50 bg-7ab derecha wh38">
          <img src="main/assets/images/icono/276.png" class="center1" width="20px" alt=""> 
        </div> </button>
    </div>
  </ion-content>
</ion-view>
