<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
    <!-- do you want padding? -->
    <ion-content class="padding card">
        <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Egresos</h4>

        <form action="" class="padding10">
            <div>
                <div class="col-100">
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Gastos fijos al mes" class="miInput">
                    </label>
                    <br>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Gastos variables (1 mes)" class="miInput">
                    </label>
                </div>
                <div class="col-100">
                    <br>
                    <span class="fontAzul alignV">Usar como defaul mensualmente</span>
                    <label for="" class="checkbox checkbox-circle alignV">
                        <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                    </label>
                </div>
            </div>
            <div align="center">
                <button ui-sref="main.negocio" class="button3 bloque2 hvr-float-shadow">
                    <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
        </form>

    </ion-content>
</ion-view>