<ion-view hide-nav-bar="true">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="back">
        <div class="row bloque" align="">
            <div class="col-10">
            </div>
            <div class="col-75 list card bloque8">
                <p class="text5 text-center">¿Como te sientes?</p>
                <div class="pico2">
                </div>
                <div class="bloque14 backCrema">
                    <br>
                    <p class="text10 text-center">Fisicamente</p>
                    <div class="range">
                        <img src="main/assets/images/iconos/img30.png" width="30px" alt="">
                        <input type="range" name="volume">
                        <img src="main/assets/images/iconos/img31.png" width="30px" alt="">
                    </div>
                    <p class="text10 text-center">Emocinalmente</p>
                    <div class="range">
                        <img src="main/assets/images/iconos/img30.png" width="30px" alt="">
                        <input type="range" name="volume">
                        <img src="main/assets/images/iconos/img31.png" width="30px" alt="">
                    </div>
                </div>
                <p class="">Estado</p>
                <div class="row">
                    <div class="col-75">
                        <p class="text11">¡Más feliz que nunca!</p>
                    </div>
                    <div class="col-25">
                        <p class="text2">-10</p>
                    </div>
                </div>
                <div class="divider">

                </div>
                <div align="center" style="margin-top:5%;">
                    <button class="button3"><img src="main/assets/images/iconos/ok.png" width="25px" alt=""></button>
                </div>
            </div>
            <div class="col-10">

            </div>
        </div>
    </ion-content>
</ion-view>