<ion-view view-title="Expediente">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
        <ul class="row miTab" align="center">
            <li class="col50 miTab-item" ng-click="cambiarTabUno()"><a>Datos generales</a></li>
            <li class="col50 miTab-item" ng-click="cambiarTabUno()"><a>Historial clínico</a></li>
        </ul>
        <div ng-show="tabUno">



            <div class=" backPerfil1">
                <div class="row" style="width: 100%;">
                    <div class="col-25" style="margin:86px 0px 0 8px"><p class="fontNegro8">Ciudad de México </p></div>
                    <div class="col-50" align="center">
                        <div class="imgContent1 backImg6">
                            <div class="button20">
                                <img src="main/assets/images/icono/82.png" alt="" width="12px;">
                            </div>
                            <img src="main/assets/images/perfil1.jpg" class="img10" alt=""> </div>
                        <p class="fontNegro4">Eduin Hernandez</p>
                        
                    </div>
                    <div class="col-25"> <img src="main/assets/images/icono/109.png" class="derecha" width="30px;" style="margin:75px 15px 0 0" alt=""> </div>
                    <!--despliega modal reporta de vista modales-->
                </div>
            </div>
            
            <div class="" style="margin-top:76px;">
            <div class="text-center pb10">
               <div class="hvr-grow">
                    <img src="main/assets/images/icono/53.png"  width="40px">
                <p class="fontAzul">Detonar Donación</p>
               </div>
            </div>
                <div class="divider"></div>
                <div class="row row-center padding5Top" ng-click="toggleGroup(1)">
                    <div class="col-10">
                        <img src="main/assets/images/icono/29.png" class="derecha hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-75 padding10Lef">
                        <p class="fontAzul">Datos Personales 80%</p>
                    </div>
                    <div class="col-10" align="center">
                        <img src="main/assets/images/icono/23.png" class="derecha hvr-grow" width="20px" alt="">
                    </div>
                </div>
                <div class="contenedor6" ng-show="isGroupShown(1)">

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/1.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">sandra</p>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Juárez</p>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Mujer</span>
                        </div>
                        <div class="col-50" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Hombre</span>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/4.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">18/Nov/1990
                                <p>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/5.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">5541446789</p>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/6.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">sandra@bitrubio.com</p>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/7.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro14">Deseo afiliarme para donar </p>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="padding10Rig ">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Sangre</span>
                        </div>
                        <div class="padding10Rig ">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Organos</span>
                        </div>
                        <div class="padding10Rig ">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">No</span>
                        </div>
                    </div>

                </div>
                <div class="divider"></div>
                <div class="row row-center padding5Top" ng-click="toggleGroup(2)">
                    <div class="col-10" align="center">
                        <img src="main/assets/images/icono/22.png" class="derecha hvr-grow" height="20px">
                    </div>
                    <div class="col-75 padding10Lef">
                        <p class="fontAzul">Datos Clinicos 60%</p>
                    </div>
                    <div class="col-10" align="center">
                        <img src="main/assets/images/icono/23.png" class="hvr-grow derecha" width="20px" alt="">
                    </div>
                </div>
                <div class="contenedor6" ng-show="isGroupShown(2)">
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/45.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80 fontNegro13">
                            <select name="" id="" class="miSelect4">
                                <option value="">Tipo sanguineo</option>
                                <option value="">O +</option>
                                <option value="">AB +</option>
                                <option value="">A -</option>
                                <option value="">B +</option>
                                <option value="">O -</option>
                            </select>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/197.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80 fontNegro13">
                            <select name="" id="" class="miSelect4">
                                <option value="">Estatura</option>
                                <option value="">O +</option>
                                <option value="">AB +</option>
                                <option value="">A -</option>
                                <option value="">B +</option>
                                <option value="">O -</option>
                            </select>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/198.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80 fontNegro13">
                            <select name="" id="" class="miSelect4">
                                <option value="">Peso</option>
                                <option value="">O +</option>
                                <option value="">AB +</option>
                                <option value="">A -</option>
                                <option value="">B +</option>
                                <option value="">O -</option>
                            </select>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/223.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro14">Preferencia sexual <span class="fontGris">Opcional</span></p>
                        </div>

                    </div>

                    <div class="row margin20Top">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Heterosexual</span>
                        </div>
                        <div class="col-50" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Homosexual</span>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Bisexual</span>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/201.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Vacunas</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/199.png" width="20px" class="hvr-grow">
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/200.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro14">Antecedentes familiares</p>
                        </div>
                    </div>

                    <div class="row margin20Top">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Diabetes</span>
                        </div>
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Hipertensión</span>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Cancer</span>
                        </div>
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontNegro14 alignV">Otro</span>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/204.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Padecimientos previos</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/55.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Migraña</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/205.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/202.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Lesiones previas</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/55.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Tobillo</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/205.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/203.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Cirugías previas</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/55.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Cesarea</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/205.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/32.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Padecimientos actuales</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/55.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Colitis</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/205.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/206.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Alergias</p>
                        </div>
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Sustancias activas</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/55.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">Ambiente</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/55.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                    <div class="row margin20Top"> 
                        <div class="col-10">
                            <img src="main/assets/images/icono/225.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">¿Estas embarazada?</p>
                        </div>
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">

                        </div>
                        <div class="col-80"> 
                           
                            <p class="fontNegro13">¿Cuantas semanas tienes?</p>
                        </div>
                        <div class="col-10">

                        </div>   
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/228.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">¿Haces ejercicio?</p>
                        </div>
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track"> 
                                    <div class="handle"></div> 
                                </div>
                            </label>
                        </div>
                    </div> 
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/219.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">¿Bebes refresco?</p>
                        </div> 
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox"> 
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/220.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">¿Fumas tabaco?</p>
                        </div>
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/221.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">¿Consumes bebidas alcohólicas?</p>
                        </div>
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/222.png" width="20px" class="hvr-grow">
                        </div>
                        <div class="col-80">
                            <p class="fontNegro13">¿Consumes algún tipo de droga?</p>
                        </div>
                        <div class="col-10">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row row-center padding5Top" ng-click="toggleGroup(3)">
                    <div class="col-10" align="center"> <img src="main/assets/images/icono/28.png" class="derecha" width="20px" class="hvr-grow"> </div>
                    <div class="col-75 padding10Lef">
                        <p class="fontAzul">Seguros 80%</p>
                    </div>
                    <div class="col-10" align="center"> <img src="main/assets/images/icono/23.png" class="hvr-grow derecha" width="20px" alt=""> </div>
                </div>
                <div class="contenedor6" ng-show="isGroupShown(3)">
                    <form action="" class="">
                        <div>
                            <div class="item-input-wrapper margin20Top">
                                <div class="row row-center">
                                    <div class="col-10" align="center">
                                        <img src="main/assets/images/icono/28.png" class="hvr-grow" width="20px"> </div>
                                    <div class="col-75">
                                        <p class="fontNegro">Seguro médico</p>
                                    </div>
                                </div>
                            </div>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Número del IMMS" class="miInput">
                            </label>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Número del ISSSTE" class="miInput">
                            </label>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Número de seguro popular" class="miInput">
                            </label>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Número de PEMEX" class="miInput">
                            </label>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Otro" class="miInput">
                            </label>
                        </div>
                        <div>
                            <div class="item-input-wrapper">
                                <div class="row row-center margin20Top">
                                    <div class="col-10" align="center">
                                        <img src="main/assets/images/icono/28.png" class="hvr-grow" width="20px">
                                    </div>
                                    <div class="col-80">
                                        <p class="fontNegro">Seguro médicos</p>
                                    </div>
                                    <div class="col-10"> <img src="main/assets/images/icono/55.png" class="hvr-grow" width="20px"> </div>
                                </div>
                            </div>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Compañia" class="miInput"> </label>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Poliza" class="miInput"> </label>
                            <label class="item-input-wrapper margin20Top">
                                <input type="text" placeholder="Vigencia" class="miInput"> </label>
                        </div>
                    </form>
                </div>
                <div class="divider"></div>
                <!--<div class="row row-center padding5Top">
                    <div class="col-10" align="center"> <img src="main/assets/images/icono/10.png" class="derecha" width="20px" alt=""> </div>
                    <div class="col-75 padding10Lef">
                        <p class="fontAzul">Donación</p>
                    </div>
                    <div class="col-10" align="center"> </div>
                </div>
                <div class="divider"></div>-->
            </div>


            <div align="center">
                <div class="bloque2"> 
                   <div class="hvr-grow">
                       <img src="main/assets/images/icono/27.png" width="40px;" alt="">
                    <p class="fontAzul8">Salir</p>
                   </div>
                    <br> </div>
            </div>
        </div>
        <div ng-show="tabdos">
            <!--Dependiendo si eres mujer o hombre sale la imagen correspondiente
           cuando se le da click al circulo naranaja se va a la aconsulta relacionada con esa parte del cuerpo-->
            <br>
            <p class="fontNegro text-center">Padecimientos en el último año</p>
            <div class="row bloque1" align="center">
                <div class="col-50">
                    <img src="main/assets/images/cuerpo.png" width="100px" alt="">
                </div>
                <div class="col-50">
                    <img src="main/assets/images/cuerpo1.png" width="100px" alt="">
                </div>
                <img src="main/assets/images/icono/106.png" class="imgExpediente" alt=""> 
                </div>
            <div>
                <div class="divider"> </div>
                <div class="row row-center padding5Top" ui-sref="main.consultasPasadas">
                    <div class="col-10">
                        <img src="main/assets/images/icono/9.png" class="derecha hvr-grow" width="20px">
                    </div>
                    <div class="col-75 padding10Lef">
                        <p class="fontAzul">Consultas pasadas</p>
                    </div>
                    <div class="col-10" align="center">
                        <img src="main/assets/images/icono/23.png" class="derecha hvr-grow" width="20px">
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row row-center padding5Top" ui-sref="main.historicoRecetas">
                    <div class="col-10">
                        <img src="main/assets/images/icono/30.png" class="derecha hvr-grow" width="20px" alt="">
                    </div>
                    <div class="col-75 padding10Lef">
                        <p class="fontAzul">Histórico de recetas</p>
                    </div>
                    <div class="col-10" align="center">
                        <img src="main/assets/images/icono/23.png" class="derecha hvr-grow" width="20px" alt="">
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </ion-content>
</ion-view>