<ion-view view-title="Grupos">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="backCrema">
        <div class="padding10 backBlanco">
            <div align="center">
                <div class="circuloGris1 hvr-grow">
                    <span>A</span>
                </div>
                <!--<img src="main/assets/images/perfil.jpg" alt="" class="img8">-->
                <p class="fontNegro9">Asma</p>
                <p class="fontNegro9">3 grupos</p>
            </div>
            <div>
                <img src="main/assets/images/line.png" width="100%;" alt="">
            </div>
            <div class="row row-center padding10Top">
                <div class="col-33">
                    <p class="fontNegro9">Grupo1</p>
                </div>
                <div class="col-33" align="center" ui-sref="main.chatGrupo">
                    <div class="circuloGris1 hvr-grow">
                        <span>A</span>
                    </div>
                </div>
                <div class="col-33" ui-sref="main.miembrosGrupos">
                    <p class="fontAzul5 derecha">20 Miembros</p>
                </div>
            </div>
        </div>

        <div class="backBlanco  margin10Top">
            <div class="row row-center padding10">
            <div class="col-33">
                <p class="fontNegro9">Grupo1</p>
            </div>
            <div class="col-33" align="center" ui-sref="main.chatGrupo" >
                <img src="main/assets/images/perfil.jpg" alt="" class="img8 hvr-grow">
            </div>
            <div class="col-33" ui-sref="main.miembrosGrupos">
                <p class="fontAzul5 derecha">20 Miembros</p>
            </div>
        </div>
        </div>
        
        <div class="backBlanco  margin10Top">
            <div class="row row-center padding10">
            <div class="col-33">
                <p class="fontNegro9">Grupo1</p>
            </div>
            <div class="col-33" align="center">
                <div class="imgContent">
                        <div class="button22">
                            <img src="main/assets/images/icono/180.png" alt="" width="12px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
            </div>
            <div class="col-33" ui-sref="main.miembrosGrupos">
                <p class="fontAzul5 derecha">20 Miembros</p>
            </div>
        </div>
        </div>
        
        <div class="backBlanco  margin10Top">
            <div class="row row-center padding10">
            <div class="col-33">
                <p class="fontNegro9">Grupo1</p>
            </div>
            <div class="col-33" align="center">
                 <div class="imgContent">
                        <div class="button22">
                            <img src="main/assets/images/icono/180.png" alt="" width="12px;">
                        </div>
                        <div class="circuloGris1">
                            <span>A</span>
                        </div>
                    </div>
            </div>
            <div class="col-33" ui-sref="main.miembrosGrupos">
                <p class="fontAzul5 derecha">20 Miembros</p>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>