<ion-view view-title="main module">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="">

        <div class="padding10Top backBlanco">
            <label class="item item-input inputS"> <img src="main/assets/images/icono/16.png" width="20px;" class="hvr-grow">
                <input type="serch" class="inputS" placeholder="Busca especialidad o grupo"> </label>
        </div>
        <div class="backVerde padding10" align="center">
            <span class="fontBlanco1">Tienes 10 solicitudes de grupos</span>
            <img src="main/assets/images/icono/166.png" width="15px" class="alignV" alt="">
        </div>
        <div class="pico">

        </div>
        <div class="row bloque1" align="center">
            <div class="col-33" ui-sref="main.nuevoGrupo">
                <div class="button8 hvr-grow">
                    <img src="main/assets/images/icono/76.png" width="20px">
                </div>
                <div class="padding5Top">
                    <p class="fontNegro9">Crear nuevo</p>
                    <p class="fontNegro9">grupo</p>
                </div>
            </div>

            <div class="col-33" ui-sref="main.grupoUno">
                <div class="">
                <img src="main/assets/images/perfil.jpg" class="img8 hvr-grow" style="margin-bottom:4px;">
                    <p class="fontNegro9">Nombre</p>
                    <p class="fontAzul5">3 grupos</p>
                </div>
            </div>
            <div class="col-33" ui-sref="main.grupoUno">
                <div>
                    <div class="circuloGris1 hvr-grow">
                        <span>A</span>
                    </div>
                    <div class="padding5Top">
                        <p class="fontNegro9">Nombre</p>
                        <p class="fontAzul5">3 grupos</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
