<ion-view view-title="Historico Recetas">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="backCrema">
        <div class="padding10Top backBlanco">
            <label class="item item-input inputS"> <img src="main/assets/images/icono/16.png" width="20px;" class="hvr-grow">
                <input type="serch" class="inputS" placeholder="Busca doctor, padecimiento o fecha"> </label>
        </div>
        <div class="backBlanco padding10 margin10Top">
            <div class="padding10">
                <div class="row row-center" ui-sref="main.consulta">
                    <div class="col-33">
                        <p class="fontNegro1">Sandra Juárez</p>
                        <p class="fontGris4">Medico General</p>
                    </div>
                    <div class="col-33" align="center">
                        <div class=""> <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt=""> </div>
                    </div>
                    <div class="col-33">
                        <p class="fontVerde6 derecha">10 junio 2017</p>
                    </div>
                </div>
                <div class="padding10Top">
                    <img src="main/assets/images/line.png" width="100%;" alt=""> </div>
                <div class="">
                    <div class="row padding5Top">
                        <div class="col-10" align="center">
                            <img src="main/assets/images/icono/34.png" width="20px" class="alignV hvr-grow" alt="">
                        </div>
                        <div class="col-90">
                            <p class="fontNegro padding10Lef">Tafitol Flex</p>
                            <p class="fontNegro9 padding10Lef">1 tableta c/24 hrs</p>
                        </div>
                    </div>
                    <div class="row padding5Top">
                        <div class="col-10" align="center">
                            <img src="main/assets/images/icono/34.png" width="20px" class="alignV hvr-grow" alt="">
                        </div>
                        <div class="col-90">
                            <p class="fontNegro padding10Lef">Tafitol Flex</p>
                            <p class="fontNegro9 padding10Lef">1 tableta c/24 hrs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-33 col-offset-66 padding5Top " ui-sref="main.receta">
                            <div class="derecha">
                                <div class="hvr-grow">
                                    <span class="fontAzul alignV">Ver más</span>
                                    <img src="main/assets/images/icono/24.png" width="15px" class="alignV" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="backBlanco padding10 margin10Top">
            <div class="padding10">
                <div class="row row-center" ui-sref="main.consulta">
                    <div class="col-33">
                        <p class="fontNegro1">Sandra Juárez</p>
                        <p class="fontGris4">Medico General</p>
                    </div>
                    <div class="col-33" align="center">
                        <div class=""> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
                    </div>
                    <div class="col-33">
                        <p class="fontVerde6 derecha">10 junio 2017</p>
                    </div>
                </div>
                <div class="padding10Top">
                    <img src="main/assets/images/line.png" width="100%;" alt=""> </div>
                <div class="">

                    <div class="row padding5Top">
                        <div class="col-10" align="center">
                            <img src="main/assets/images/icono/34.png" width="20px" class="alignV hvr-grow" alt="">
                        </div>
                        <div class="col-90">
                            <p class="fontNegro padding10Lef">Tafitol Flex</p>
                            <p class="fontNegro1 padding10Lef">1 tableta c/24 hrs</p>
                        </div>
                    </div>
                    <div class="row padding5Top">
                        <div class="col-10" align="center">
                            <img src="main/assets/images/icono/34.png" width="20px" class="alignV hvr-grow" alt="">
                        </div>
                        <div class="col-90">
                            <p class="fontNegro padding10Lef">Tafitol Flex</p>
                            <p class="fontNegro1 padding10Lef">1 tableta c/24 hrs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-33 col-offset-66 padding5Top " ui-sref="main.receta">
                            <div class="derecha">
                                <div class="hvr-grow">
                                    <span class="fontAzul alignV">Ver más</span>
                                    <img src="main/assets/images/icono/24.png" width="15px" class="alignV" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>