<ion-view view-title="Perfil">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>

    <ion-header-bar class="bar bar-subheader backPerfil" style="height: 120px;" id="btnBack">
        <div class="row">
            <div class="col-50">
                <div class="contenedor4" ui-sref="main.perfil">
                    <div class="barra" align="center">
                        <img src="main/assets/images/perfil.jpg" class="img6" alt="" id="btnPerfil">
                    </div>
                    <!-- <div class="barra1" align="center">
                       <span>s</span>
                    </div>-->
                    <p class="fontNegro text-center">75%</p>
                </div>
            </div>
            <div class="col-50">
                <div style="margin-top:15px" ui-sref="main.perfil">
                    <button class="button7 derecha">Actualiza tu perfil</button>
                </div>
            </div>
        </div>
        <div class="backBlue" ui-sref="main.tuComunidad">
            <p class="derecha fontBlanco3"> Pacientes y colegas <i class="ion-chevron-right"></i></p>
        </div>
    </ion-header-bar>
    <ion-content class="backCrema paddingHome">
        <div class="backBlanco" style="padding:75px 0 10px 0;" ui-sref="main.compartir">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Comparte tips de salud o alguna noticia" class="miInput dateInput">
            </label>
        </div>
        <div class="backBlanco mb10 padding">
            <div class="b1-of5">
                <span class=" text-center fontGris block mb10 mt10">Estos pacientes necesitan de tu apoyo</span>

                <div class="slider responsive">
                    <div>
                        <div class="text-center">
                            <div class="imgContent mlrauto block">
                                <div class="button13">
                                    <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                                </div>
                                <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                            </div>
                            <p class="fontNegro9">Sandra Juárez</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <div class="imgContent mlrauto block">
                                <div class="button13">
                                    <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                                </div>
                                <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                            </div>
                            <p class="fontNegro9">Sandra Juárez</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <div class="imgContent mlrauto block">
                                <div class="button13">
                                    <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                                </div>
                                <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                            </div>
                            <p class="fontNegro9">Sandra Juárez</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <div class="imgContent mlrauto block">
                                <div class="button13">
                                    <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                                </div>
                                <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                            </div>
                            <p class="fontNegro9">Sandra Juárez</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <div class="imgContent mlrauto block">
                                <div class="button13">
                                    <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                                </div>
                                <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                            </div>
                            <p class="fontNegro9">Sandra Juárez</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <div class="imgContent mlrauto block">
                                <div class="button13">
                                    <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                                </div>
                                <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                            </div>
                            <p class="fontNegro9">Sandra Juárez</p>
                        </div>
                    </div>

                </div>
                <div style="margin: 0 10px;">
                    <img src="main/assets/images/line.png" width="100%;" alt="">
                </div>
                <div class="row row-center">
                    <div class="col-50 padding text-right">
                        <div class="inline-block alignV">
                            <img class="block hvr-grow" src="main/assets/images/icono/169.png" width="20px;" />
                        </div>
                        <div class="inline-block alignV fontAzul3">Mensaje general</div>
                    </div>
                    <div class="col-50 padding text-left">
                        <div class="inline-block alignV">
                            <img class="block hvr-grow" src="main/assets/images/icono/169.png" width="20px;" />
                        </div>
                        <div class="inline-block alignV fontAzul3">Mensaje individual</div>
                    </div>
                </div>
            </div>
        </div>



        <div class="">
            <div class="backBlanco margin10Top">
                <div class="row row-center padding10" ui-sref="main.amigo">
                    <div class="col-33">
                        <p class="fontNegro12">Sandra ivette</p>
                    </div>
                    <div class="col-33 backImg" align="center">
                        <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
                    </div>
                    <div class="col-33">
                        <p class="fontGris2">32 min</p>
                        <p class="fontGris2">Ciudad de México</p>
                    </div>
                </div>
                <div align="center" style="padding-bottom:10px;">
                    <p class="fontNegro3">He completado mi meta “Correr 10km”.</p>
                    <p class="fontNegro3">¡Gracias totales!</p>
                </div>
                <div style="margin: 0 10px;">
                    <img src="main/assets/images/line.png" width="100%;" alt="">
                </div>
                <div class="row padding10">
                    <div class="col-33">
                        <div class="derecha hvr-grow" ui-sref="main.comentarios">
                            <span class="fontAzul">100 </span>
                            <img src="main/assets/images/icono/18.png" style="margin-bottom:5px; width:13px;" alt="">
                        </div>
                    </div>
                    <div class="col-33" align="center">
                        <img src="main/assets/images/icono/102.png" id="btnBeats" class="img7 hvr-grow" alt="">
                    </div>

                    <div class="col-33" ui-sref="main.compartirPublicacion">
                        <img src="main/assets/images/icono/20.png" class="img7 izquierda hvr-grow" alt="">
                    </div>
                </div>
            </div>

            <div class="backBlanco margin10Top">
                <div class="row row-center padding10" ui-sref="main.amigo">
                    <div class="col-33">
                        <p class="fontNegro12">Eduin Garnica </p>
                    </div>
                    <div class="col-33 backImg1" align="center">
                        <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt="">
                    </div>
                    <div class="col-33">
                        <p class="fontGris2">32 min</p>
                        <p class="fontGris2">Ciudad de México</p>
                    </div>
                </div>
                <div align="center" style="padding-bottom:10px;">
                    <p class="fontNegro3">He completado mi meta “Correr 10km”.</p>
                    <p class="fontNegro3">¡Gracias totales!</p>
                </div>
                <div style="margin: 0 10px;">
                    <img src="main/assets/images/line.png" width="100%;" alt="">
                </div>
                <div class="row padding10">
                    <div class="col-33">
                        <div class="derecha hvr-grow" ui-sref="main.comentarios">
                            <span class="fontAzul">100</span>
                            <img src="main/assets/images/icono/18.png" style="margin-bottom:5px; width:13px;" alt="">
                        </div>
                    </div>
                    <div class="col-33" align="center">
                        <img src="main/assets/images/icono/19.png" id="btnBeats" class="img7 hvr-grow" alt="">
                    </div>

                    <div class="col-33" ui-sref="main.compartirPublicacion">
                        <img src="main/assets/images/icono/20.png" class="img7 izquierda hvr-grow" alt="">
                    </div>
                </div>
            </div>

            <div class="backBlanco margin10Top">
                <div class="row row-center padding10" ui-sref="main.amigo">
                    <div class="col-33">
                        <p class="fontNegro12">Sandra Juárez </p>
                    </div>
                    <div class="col-33" align="center">
                        <div class="backImg1">
                            <div class="circuloGris hvr-grow">
                                <span>A</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-33">
                        <p class="fontGris2">32 min</p>
                        <p class="fontGris2">Ciudad de México</p>
                    </div>
                </div>
                <div align="center" style="padding-bottom:10px;">
                    <p class="fontNegro3">He completado mi meta “Correr 10km”.</p>
                    <p class="fontNegro3">¡Gracias totales!</p>
                </div>
                <div style="margin: 0 10px;">
                    <img src="main/assets/images/line.png" width="100%;" alt="">
                </div>
                <div class="row padding10">
                    <div class="col-33">
                        <div class="contenedor5 derecha hvr-grow" ui-sref="main.comentarios">
                            <p class="fontBlanco6 text-center">89</p>
                        </div>
                    </div>
                    <div class="col-33" align="center">
                        <img src="main/assets/images/icono/102.png" id="btnBeats" class="img7 hvr-grow" alt="">
                    </div>

                    <div class="col-33" ui-sref="main.compartirPublicacion">
                        <img src="main/assets/images/icono/20.png" class="img7 izquierda hvr-grow" alt="">
                    </div>
                </div>
            </div>

            <div class="backBlanco margin10Top">
                <div class="row row-center padding10" ui-sref="main.amigo">
                    <div class="col-33">
                        <p class="fontNegro12">Sandra Juárez </p>
                    </div>
                    <div class="col-33 backImg1" align="center">
                        <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
                    </div>
                    <div class="col-33">
                        <p class="fontGris2">32 min</p>
                        <p class="fontGris2">Ciudad de México</p>
                    </div>
                </div>
                <div align="center" style="padding-bottom:10px;">
                    <p class="fontNegro3">Compartio una publicación de Eduin Hernandez</p>
                </div>

                <div class="backBlanco borde3">
                    <div class="row row-center padding10" ui-sref="main.amigo">
                        <div class="col-33">
                            <p class="fontNegro9">Eduin Hernandez </p>
                        </div>
                        <div class="col-33" align="center">
                            <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt="">
                        </div>
                        <div class="col-33">
                            <p class="fontGris2">32 min</p>
                            <p class="fontGris2">Ciudad de México</p>
                        </div>
                    </div>
                    <div align="center" style="padding-bottom:10px;">
                        <p class="fontNegro9">He completado mi meta “Correr 10km”.</p>
                        <p class="fontNegro9">¡Gracias totales!</p>
                    </div>
                </div>

                <div style="margin: 0 10px;">
                    <img src="main/assets/images/line.png" width="100%;" alt="">
                </div>
                <div class="row padding10">
                    <div class="col-33">
                        <div class="contenedor5 derecha hvr-grow" ui-sref="main.comentarios">
                            <p class="fontBlanco6 text-center">89</p>
                        </div>
                    </div>
                    <div class="col-33" align="center">
                        <img src="main/assets/images/icono/102.png" class="img7 hvr-grow" alt="">
                    </div>

                    <div class="col-33" ui-sref="main.compartirPublicacion">
                        <img src="main/assets/images/icono/20.png" class="img7 izquierda hvr-grow" alt="">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="height:60px; background-color: #0f698d  !important;">
        <div align="center" class="row">
            <div class="col-20 hvr-grow">
                <img src="main/assets/images/icono/74.png" class="imgMenu" alt="">
                <p class="textMenu">Noticias</p>
            </div>
            <div class="col-20 hvr-grow" ui-sref="main.agenda">
                <img src="main/assets/images/icono/89.png" class="imgMenu" alt="">
                <p class="textMenu">Agenda</p>
            </div>
            <div class="col-20" ui-sref="main.consulta1">
                <img src="main/assets/images/icono/128.png" class="itemMenu hvr-grow" alt="">
                <div class="textMenu1">
                    <p class="textMenu">Consultas</p>
                </div>
            </div>
            <div class="col-20 hvr-grow" ui-sref="main.llenarPerfil">
                <img src="main/assets/images/icono/78.png" class="imgMenu" alt="">
                <p class="textMenu">Expediente</p>
            </div>
            <div class="col-20 hvr-grow" ui-sref="main.negocio">
                <img src="main/assets/images/icono/216.png" class="imgMenu" alt="">
                <p class="textMenu">Negocio</p>
            </div>
        </div>
    </div>
</ion-view>