<ion-view hide-nav-bar="true" view-title="">
    <ion-content>
        <div class="row row-center BackIniciar" align="center">
            <div class="col animated fadeInDown">
                <img src="main/assets/images/logo.png" alt="" class="imgLogo">
            </div> 
        </div>      
        <div class="container">
            <form action="" class="padding10">
                <div class="row">
                    <div class="col-100 list">
                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/6.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Correo electrónico" class="miInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/2.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Contraseña" class="miInput">
                        </label>

                        <label class="item-input-wrapper">
                            <div class="row row-center">
                                <img src="main/assets/images/icono/1.png" class="img1 hvr-grow" alt="">
                                <p class="fontNegro">¿Quieres cuidar tu salud?</p>
                                <img src="main/assets/images/icono/127.png" width="10px" alt="">
                            </div>
                        </label>
                    </div>
                </div>
                <div align="center">
                    <button ui-sref="main.home" class="button3 bloque2 hvr-float-shadow">
                        <img src="main/assets/images/icono/87.png" width="20px" alt="">
                        </button>
                    <div>
                        <p href="" class="fontGris">Recupera contraseña</p>
                        <br>
                        <p href="" class="fontGris">Cambia tu número de celular
                            <p>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>