<ion-view view-title="Invita">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
                <span class="count">1</span>
                <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader miHeader" style="height:130px;">
        <div class="figura padding10" align="center">
            <p class="fontBlanco1">Crea tu red agregando a tu equipo de expertos </p>
            <p class="fontBlanco1">en salud y tu asistente administrativo </p>
        </div>
        <div class="pico">
        </div> 

        <ul class="row miTab" align="center">
            <li class="col50 miTab-item">
            <a href=""><span><img src="main/assets/images/icono/214.png" class="alignV hvr-grow" alt="" width="20px"></span> Expertos en salud</a>
            </li>
            <li class="col50 miTab-item">
            <a href=""><span><img src="main/assets/images/icono/215.png" class="alignV hvr-grow" alt="" width="20px"></span> Asistente (opcional) </a>
            </li>
        </ul>
    </ion-header-bar>
 
    <ion-content style="top:200px;bottom:100px;">
        <!--<div align="center" class="figura padding10">
            <img src="main/assets/images/bit/feliz.png" class="img2" alt="">
            <p class="fontBlanco1">Crea tu red de apoyo agregando 3 </p>
            <p class="fontBlanco1">contactos de emergencia, por ejemplo </p>
            <p class="fontBlanco1"> algún familiar o vecino </p>
        </div> 
        <div class="pico">
        </div>

        <ul class="row miTab" align="center">
            <li class="col50 miTab-item"><a href="">Familia y amigos </a></li>
            <li class="col50 miTab-item"><a href=""> Expertos en salud </a></li>
        </ul>-->
        <div>
            <div class="padding10">
                <div class="row row-center">
                    <div class="col-33">
                        <p class="fontNegro2">Sandra Juárez</p>
                    </div>
                    <div class="col-33" align="center">
                        <div class="backImg1">
                            <img src="main/assets/images/perfil.jpg" class="img9" alt="">
                        </div>
                        <p class="fontGris1">¡Vacaciones!</p>
                    </div>
                    <div class="col-33 marginCheck">
                        <label for="" class="checkbox checkbox-circle">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider3"> </div>
            <div class="padding10">
                <div class="row row-center">
                    <div class="col-33">
                        <p class="fontNegro2">Eduin Garnica</p>
                    </div>
                    <div class="col-33" align="center">
                        <div class="backImg">
                            <img src="main/assets/images/perfil1.jpg" class="img9" alt="">
                        </div>
                        <p class="fontGris1">¡Vacaciones!</p>
                    </div>
                    <div class="col-33 marginCheck">
                        <label for="" class="checkbox checkbox-circle alignV">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider3"> </div>
            <div class="padding10">
                <div class="row row-center">
                    <div class="col-33 padding10Lef">
                        <p class="fontNegro1">Sandra Juárez </p>
                        <p class="fontNegro1">Sandra Juárez </p>
                    </div>
                    <div class="col-33" align="center">
                        <div class="backImg1">
                            <div class="circuloGris">
                                <span>A</span>
                            </div>
                        </div>
                        <p class="fontGris1">¡Vacaciones! </p>
                    </div>
                    <div class="col-33 marginCheck">
                        <label for="" class="checkbox checkbox-circle alignV">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider3"> </div>
            <div class="padding10">
                <div class="row row-center">
                    <div class="col-33 padding10Lef">
                        <p class="fontNegro1">Sandra Juárez </p>
                        <p class="fontNegro1">Sandra Juárez </p>
                    </div>
                    <div class="col-33" align="center">
                        <div class="backImg1">
                            <div class="circuloGris">
                                <span>A</span>
                            </div>
                        </div>
                        <p class="fontGris1">¡Vacaciones! </p>
                    </div>
                    <div class="col-33 marginCheck">
                        <label for="" class="checkbox checkbox-circle alignV">
                            <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="divider3"> </div>
            <!--<div align="center" style="margin-top:30px;">
                <div class="circuloActivo">

                </div>
                <div class="circuloActivo">

                </div>
                <div class="circuloNoactivo">

                </div>
            </div>
            <div align="center">
                <button ui-sref="main.listo" class="button3 bloque2"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>-->
        </div>
    </ion-content>
    <ion-footer-bar style="height:100px" class="miFooter">
        <div align="center" class="margin10">
            <div class="circuloActivo">

            </div>
            <div class="circuloActivo">

            </div>
            <div class="circuloNoactivo">

            </div>
        </div>
        <div align="center">
            <button ui-sref="main.listo" class="button3 margin10  hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt="" class="alignV"></button><br>
        </div>
    </ion-footer-bar>
</ion-view>