<ion-view hide-nav-bar="true">
    <ion-content class="backListo">
        <div class="container">
            <div align="center" class="bloque">
                <img src="main/assets/images/bit/feliz3.png" class="imgLogo" alt="">
                <div class="bloque1">
                    <p class="fontBlanco2">¡Listo!</p>
                    <p class="fontBlanco2">¿Qué quieres hacer primero? </p>
                </div>

                <div class="bloque">
                    <button class="button4">
                        Completar perfil médico
                    </button>
                    <br>
                    <button class="button4">
                    Conectar con otros expertos
                    </button>
                    <br>
                    <button class="button4">
                        Explorar aplicación
                    </button>
                    <br>
                </div> 
            </div>    
        </div>
    </ion-content>
</ion-view>  