<ion-view hide-nav-bar="true" class="backLogin">
    <ion-content scroll="">
        <div class="row bloque1">
            <div class="col animated fadeInDown" align="center">
                <img src="main/assets/images/logo.png" class="imgLogo" alt="">
                <p class="fontAzul">Comunidad de salud y bienestar</p>
            </div>
        </div>
        <div class="row" style="margin-top:40%;">
            <div class="col" align="center">
                <button ui-sref="main.iniciar" class="button1">
                    Inicia sesión
                </button>
                <button ui-sref="main.registrate" class="button2"> 
                    Regístrate 
                </button> 
            </div>
        </div> 
        <div align="center">
            <p class="fontAzul bloque1">Términos y Política de Privacidad</p>
        </div>  
    </ion-content> 
</ion-view>