<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <div class="pt20">
        <div class="backNaranja padding20 radius10">
          <p class="text-center fontBlanco2">Lleva 3 días <br />sintiéndoce mal</p>
        </div>
        <div class="pico_2">

        </div>
        <div class="bloque8">
          <div class="text-center pt20 relative">
            <img src="main/assets/images/perfil.jpg" class="img152 radius50" alt="">
            <div class="button27 backRojo">
              <img src="main/assets/images/icono/80.png" alt="" width="12px;" style="margin-top: 7px;">
            </div>
          </div>
          <p class="text-center fontGris">Robert Smith</p>
          <br>
          <div class="row">
            <div class="col-100 bb1 pb5">
            <div class="row row-center">
              <div class="col-80"><input type="text" placeholder="Mensaje de apoyo" class="miInput bb0"></div>
              <div class="col-20">
                <button ui-sref="main.home" class=" button28" href="#/main/home">
                <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
              </div>
            </div>
            
              
              </div>
            </div>
          <div class="row">
            <div class="col-100 text-center">
              <button ui-sref="main.home" class=" bloque2" href="#/main/home">
                <img src="main/assets/images/icono/52_1.png" width="50px" alt=""></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
