<ion-view view-title="Mensaje">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span>
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <!-- do you want padding? -->
    <ion-content class="backCrema">
        <div class="backBlanco padding10">
            <div align="center">
                <div class="imgContent">
                    <div class="button13">
                        <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                    </div>
                    <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                </div>
                <p class="fontNegro">Sandra Juárez</p>
                <div class="row">
                    <div class="col-100 bb1 pb5">
                        <div class="row row-center">
                            <div class="col-80">
                                <input type="text" placeholder="Mensaje de apoyo" class="miInput bb0">
                            </div>
                            <div class="col-20">
                                <button ui-sref="main.home" class=" button28" href="#/main/home">
                  <img src="main/assets/images/icono/87.png" width="20px" alt="">
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backBlanco padding10 margin10Top">
            <div align="center">
                <div class="imgContent">
                    <div class="button13">
                        <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                    </div>
                    <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                </div>
                <p class="fontNegro">Sandra Juárez</p>

                <div class="row">
                    <div class="col-100 bb1 pb5">
                        <div class="row row-center">
                            <div class="col-80">
                                <input type="text" placeholder="Mensaje de apoyo" class="miInput bb0">
                            </div>
                            <div class="col-20">
                                <button ui-sref="main.home" class=" button28" href="#/main/home">
                  <img src="main/assets/images/icono/87.png" width="20px" alt="">
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backBlanco padding10 margin10Top">
            <div align="center">
              <div class="imgContent">
                        <div class="button13">
                            <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro">Sandra Juárez</p>
                <div class="row">
                    <div class="col-100 bb1 pb5">
                        <div class="row row-center">
                            <div class="col-80">
                                <input type="text" placeholder="Mensaje de apoyo" class="miInput bb0">
                            </div>
                            <div class="col-20">
                                <button ui-sref="main.home" class=" button28" href="#/main/home">
                  <img src="main/assets/images/icono/87.png" width="20px" alt="">
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backBlanco padding10 margin10Top">
            <div align="center">
            <div class="imgContent">
                        <div class="button13">
                            <img src="main/assets/images/icono/81.png" alt="" width="12px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro">Sandra Juárez</p>
                <div class="row">
                    <div class="col-100 bb1 pb5">
                        <div class="row row-center">
                            <div class="col-80">
                                <input type="text" placeholder="Mensaje de apoyo" class="miInput bb0">
                            </div>
                            <div class="col-20">
                                <button ui-sref="main.home" class=" button28" href="#/main/home">
                  <img src="main/assets/images/icono/87.png" width="20px" alt="">
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>