<ion-view view-title="Notificaciones">

   <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco">100<img src="main/assets/images/icono/102.png" style="height:12px;margin:0 0 10px 0" alt=""></span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
        <br>
        <div class="backVerde padding10" align="center">
            <span class="fontBlanco1">Tienes 10 solicitudes de grupos</span>
            <img src="main/assets/images/icono/166.png" width="15px" class="alignV" alt="">
        </div>
        <div class="pico">

        </div>
        <br>
        <div class="row row-center padding10">
            <div class="col-25" align="center">
                <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
            </div>
            <div class="col-75">
                <p class="fontNegro5">Sandra Juárez</p>
                <p class="fontNegro10">Te acepto en el grupo de pediatria</p>
                <p class="fontNegro10">20 Min</p>
            </div>
        </div>
        <div class="divider3">
        </div>
        <div class="row row-center padding10">
            <div class="col-25" align="center">
                <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt="">
            </div>
            <div class="col-75">
                <p class="fontNegro5">Sandra Juárez</p>
                <p class="fontNegro10">Te acepto en el grupo de pediatria</p>
                <p class="fontNegro10">20 Min</p>
            </div>
        </div>
        <div class="divider3">
        </div>
        <div class="row row-center padding10">
            <div class="col-25" align="center">
                <img src="main/assets/images/perfil.png" class="img9 hvr-grow" alt="">
            </div>
            <div class="col-75">
                <p class="fontNegro5">Sandra Juárez</p>
                <p class="fontNegro10">Te acepto en el grupo de pediatria</p>
                <p class="fontNegro10">20 Min</p>
            </div>
        </div>
        <div class="divider3">
        </div>
        <div class="row row-center padding10">
            <div class="col-25" align="center">
                <div class="circuloGris hvr-grow">
                    <span>A</span>
                </div>
            </div>
            <div class="col-75">
                <p class="fontNegro5">Sandra Juárez</p>
                <p class="fontNegro10">Te acepto en el grupo de pediatria</p>
                <p class="fontNegro10">20 Min</p>
            </div>
        </div>
        <div class="divider3">
        </div>
    </ion-content>
</ion-view>