<ion-view view-title="Nueva cita">
  <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="">
            <form action="">
                <div class="row">
                    <div class="col-100 list">
                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="Titulo" class="miInput" style="margin-left:30px;">
                        </label>
                        <label class="item-input-wrapper margin20Top relative">
                          <img src="main/assets/images/icono/9.png" width="20px" alt="" class="hvr-grow">
                          <select name="" id="" class="miselect5 miInput">
                          <option value="">Tipo cita</option>
                            <option value="">Videollamada</option>
                            <option value="">Precencial</option>
                            <option value="">Domicilio</option>
                          </select>
                          <div class="arrow-select"><img class="img hvr-grow" src="main/assets/images/icono/23.png" /></div>

                        </label>
                        <label class="item-input-wrapper margin20Top" ui-sref="main.tuComunidad">
                          
                            <img src="main/assets/images/icono/129.png" class="hvr-grow" width="20px" alt="">
                            <span class="row-center row miInput" style="margin-left: 10px;" >
                              <div class="col-90">
                                <p class="fontGris8 bb0">Paciente</p>
                              </div>
                              <div class="col-10" align="center">
                                <img src="main/assets/images/icono/127.png" style="width: 10px;margin-bottom: 7px;" class="hvr-grow">
                              </div>
                            </span>
                        </label> 
                        <label>
                          <div class="row row-center">
                            <div class="col-80">
                              <label class="item-input-wrapper"> 
                               <img src="main/assets/images/icono/130.png" class="img1 hvr-grow" alt="">
                               <span class="fontGris8">Todo el dia</span>
                             </label>

                           </div>
                           <div class="col-20" align="center">
                             <label class="toggle alignV">
                              <input type="checkbox">
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                            </label>
                          </div>
                        </div>
                      </label>
                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="Inicia   9/jun/2016   11:00 am" class="miInput" style="margin-left:30px;">
                        </label>
                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="Termina  10/jun/2016   11:00 am" class="miInput" style="margin-left:30px;">
                        </label>
                        <label class="item-input-wrapper margin20Top" ui-sref="main.tuComunidad">
                          
                            <img src="main/assets/images/icono/46.png" class="hvr-grow" width="20px" alt="">
                            <span class="row-center row miInput" style="margin-left: 10px;" >
                              <div class="col-90">
                                <p class="fontGris8 bb0">Ubicación</p>
                              </div>
                              <div class="col-10" align="center">
                                <img src="main/assets/images/icono/127.png" style="width: 10px;margin-bottom: 7px;" class="hvr-grow">
                              </div>
                            </span>
                        </label> 

                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="Repetir nunca" class="miInput" style="margin-left:30px;">
                        </label> 
                        <label class="item-input-wrapper margin20Top">
                          <img src="main/assets/images/icono/129.png" class="img1 hvr-grow" alt="">
                          <input type="text" placeholder="Invitados" class="miInput">
                        </label>
                        <label class="item-input-wrapper margin20Top relative">
                          <img src="main/assets/images/icono/130.png" width="20px" class="hvr-grow">
                          <select name="" id="" class="miselect5 miInput">
                          <option value="">Alertas</option>
                            <option value="">Videollamada</option>
                            <option value="">Precencial</option>
                            <option value="">Domicilio</option>
                          </select>
                          <div class="arrow-select"><img class="img hvr-grow" src="main/assets/images/icono/23.png" /></div>

                        </label>
                        <label class="item-input-wrapper margin20Top relative">
                          <div style="width: 20px;" class="text-center"><span class="circuloActivo"></span></div>
                          <select name="" id="" class="miselect5 miInput">
                          <option value="">Estatus</option>
                            <option value="">Videollamada</option>
                            <option value="">Precencial</option>
                            <option value="">Domicilio</option>
                          </select>
                          <div class="arrow-select"><img class="img hvr-grow" src="main/assets/images/icono/23.png" /></div>

                        </label> 
                         
                         <label class="item-input-wrapper margin20Top">
                          <img src="main/assets/images/icono/131.png" class="img1 hvr-grow" alt=""> 
                          <input type="text" placeholder="Notas" class="miInput">
                        </label>
                        
                        <div align="center">
                            <button ui-sref="main.conocenos" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>