<ion-view view-title="Agregar Tarjeta">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="">
        <form action="" class="">
            <div class="widthTarjeta backTarjeta8 paddingTarjeta">
                <div class="row">
                    <div class="col-75">
                        <div class="list list-inset">
                            <label class="item-input inputT">
                                <input type="text" class="inputT" placeholder="Nombre completo"> </label>
                        </div>
                    </div>
                    <div class="col-25" align="center">
                        <br>
                        <div> <img src="main/assets/images/icono/105.png" class="hvr-grow" width="20px;">
                            <p class="fontBlanco">scan</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="">
                    <div class="col-25">
                        <div class="list  list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="list list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="list list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="list list-inset">
                            <label class="item-input inputT ">
                                <input type="number" maxlength="4" class="inputT" placeholder="1234"> </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="">
                    <div class="col-25 col-offset-25">
                        <div class="list list-inset" style="margin-bottom:2px;">
                            <label class="item-input inputT">
                                <input type="number" class="inputT" placeholder="01/19"> </label>
                        </div>
                        <p class="text-center fontBlanco" style="margin:0; padding:0;">vigencia</p>
                    </div>
                    <div class="col-25 col-offset-25" align="center">
                        <!--despliega modal cmabio de color de tarjeta -->
                        <div class="" style="margin-top:25px"> <img src="main/assets/images/icono/175.png"  class="hvr-grow" width="25px;"> </div>
                    </div>
                </div>
                <br> </div>
            <label class="item-input-wrapper" style="margin:15px;">
                <input type="text" placeholder="cvv" class="miInput"> <img src="main/assets/images/icono/122.png" width="15px" alt=""> </label>
                <br>
            <div align="center" class="bloque">
                <div class="row">
                    <div class="col-50">
                        <button class="button16 hvr-float-shadow"><img src="main/assets/images/icono/69.png" width="20px" alt=""></button>
                    </div>
                    <div class="col-50">
                        <button class="button3 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""> </button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>