<ion-view view-title="Nuevo grupo">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content class="backCrema">
        <form action="" align="center" class="padding20 backBlanco margin10Top">
            <div align="center">
                <div class="button8 hvr-grow">
                    <img src="main/assets/images/icono/178.png" alt="" width="20px">
                </div>
                <!--<img src="main/assets/images/perfil.jpg" alt="" class="img8">-->
            </div>
            <div class="row margin10Top">
                <div class="col-50 col-offset-25">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder=" Nombre de grupo" class="miInput">
                    </label>
                    <div align="center">
                        <select name="" id="" class="miSelect1">
                            <option value="" class="fontAzul5">Especialidad
                            </option>
                            <option value="" class="">Obesidad</option>
                            <option value="" class="">Asma</option>
                            <option value="" class="">Diabetes</option>
                            <option value="" class="">Cáncer</option>
                        </select>
                    </div>
                </div>
            </div>
            <label for="" class="checkbox checkbox-circle alignV">
                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
            </label>
            <span class="fontNegro9 alignV">Activar grupo como privado</span>
        </form>

        <div class="padding10 backBlanco margin10Top">
            <p class="text-center fontNegro9">Invita a personas con tu misma condición</p>
            <br>
            <div class="row" align="center">
                <div class="col-33" ui-sref="main.tuComunidad">
                    <div class="button8 hvr-grow">
                        <img src="main/assets/images/icono/76.png" alt="" width="20px">
                    </div>
                    <div class="margin8">
                        <p class="fontNegro9">Agregar</p>
                    </div>
                </div>

                <div class="col-33">
                    <div class="imgContent">
                        <div class="button22">
                            <img src="main/assets/images/icono/179.png" alt="" width="10px;">
                        </div>
                        <img src="main/assets/images/perfil.jpg" alt="" class="img8">
                    </div>
                    <p class="fontNegro9">Nombre</p>
                </div>
                <div class="col-33">
                    <div class="imgContent">
                        <div class="button22">
                            <img src="main/assets/images/icono/179.png" alt="" width="10px;">
                        </div>
                        <div class="circuloGris1">
                            <span>A</span>
                        </div>
                    </div>
                    <p class="fontNegro9">Nombre</p>
                </div>
            </div>
        </div>

        <div class="padding10 backBlanco margin10Top">
            <p class="text-center fontNegro9">Recomendados</p>
            <br>
            <div class="row" align="center">
                <div class="col-33">
                    <div class="imgContent hvr-grow">
                        <img src="main/assets/images/perfil.jpg" class="img8">
                    </div>
                    <p class="fontNegro9">Nombre</p>
                </div>

                <div class="col-33">
                    <div class="imgContent hvr-grow">
                        <img src="main/assets/images/perfil.jpg" class="img8">
                    </div>
                    <p class="fontNegro9">Nombre</p>
                </div>
                <div class="col-33">
                    <div class="imgContent hvr-grow">
                        <div class="circuloGris1">
                            <span>A</span>
                        </div>
                    </div>
                    <p class="fontNegro9">Nombre</p>
                </div>
            </div>
            <div align="center">
                <button ui-sref="main.grupos" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
        </div>


    </ion-content>
</ion-view>