<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <div class="pt20">
        <div class="backNaranja padding20 radius10">
          <p class="text-center fontBlanco2">¡Hola!</p>
        </div>
        <div class="pico_2">
        </div>
        <div class="bloque8 block text-center mlrauto mt20">
          <div class="text-center relative backImg_1 inline-block">
            <img src="main/assets/images/perfil.jpg" class="img133 radius50" alt="">
          </div>
          <p class="text-center fontAzul">Robert Smith</p>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
