<ion-view view-title="No Biturbia">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="">

    <!-- content goes here -->
    <form action="">
            <div class="row backPerfil1">
                <div class="col-25"> </div>
                <div class="col-50" align="center">
                    <div class="imgContent1 backImg6">
                        <img src="main/assets/images/perfil1.jpg" class="img10" alt="">
                    </div>
                </div>
                <div class="col-25"> </div>
            </div>
            <div class="row padding10" style="margin-top:30px">
                <div class="col-100 list">
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/1.png" class="img1 hvr-grow" alt="">
                        <input type="text" placeholder="Usuario" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Primer apellido" class="miInput" style="margin-left:30px;">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <input type="text" placeholder="Segundo apellido" class="miInput" style="margin-left:30px;">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/223.png" class="img1 hvr-grow" alt="">
                        <p class="fontGris8">Sexo</p>
                    </label>
                    <div class="row margin20Top">
                        <div class="col-50" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Mujer</span>
                        </div>
                        <div class="col-50" align="center">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Hombre</span>
                        </div>
                    </div>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/4.png" class="img1 hvr-grow" alt="">
                        <input type="text" placeholder="Fecha de nacimiento" class="miInput dateInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/45.png" class="img1 hvr-grow" alt="">
                        <input type="text" placeholder="Tipo de sangre" class="miInput dateInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/5.png" class="img1 hvr-grow" alt="">
                        <input type="text" placeholder="Celular" class="miInput dateInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/6.png" class="img1 hvr-grow" alt="">
                        <input type="email" placeholder="Correo electronico" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/10.png" class="img1 hvr-grow" alt="">
                        <p class="fontGris8">¿Donador? </p>
                    </label>
                    
                      <div class="row margin20Top padding35Lef">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Sangre</span>
                        </div>
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Organos</span>
                        </div>
                    </div>
                    <div class="row margin20Top padding35Lef">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">No</span>
                        </div>
                    </div>
                    
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/217.png" class="img1 hvr-grow" alt="">
                        <input type="email" placeholder="Estatura" class="miInput">
                    </label>
                    <label class="item-input-wrapper margin20Top">
                        <img src="main/assets/images/icono/198.png" class="img1 hvr-grow" alt="">
                        <input type="email" placeholder="Peso" class="miInput">
                    </label>
                     
                 <label class="item-input-wrapper">
                            <div class="row row-center">
                                <img src="main/assets/images/icono/176.png" class="img1 hvr-grow" alt="">
                                <p class="fontGris8">Preferencia sexual</p>
                            </div>
                        </label>
                        
                    <div class="row margin20Top padding35Lef">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Heterosexual</span>
                        </div>
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Bisexual</span>
                        </div>
                    </div>
                    <div class="row margin20Top padding35Lef">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Homosexual</span>
                        </div>
                    </div>
                        
                    <div class="row margin20Top">
                        <div class="col-10">
                            <img src="main/assets/images/icono/201.png" class="derecha hvr-grow" width="20px" alt="">
                        </div>
                        <div class="col-80 padding10Lef">
                            <p class="fontGris8">Vacunas</p>
                        </div>
                        <div class="col-10">
                            <img src="main/assets/images/icono/199.png" width="20px" class="hvr-grow">
                        </div>
                    </div>
                          
                           <label class="item-input-wrapper">
                            <div class="row row-center">
                                <img src="main/assets/images/icono/200.png" class="img1 hvr-grow" alt="">
                                <p class="fontGris8">Antecedentes familiares</p>
                            </div>
                        </label>       

                    <div class="row margin20Top padding35Lef">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Diabetes</span>
                        </div>
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Hipertensión</span>
                        </div>
                    </div>
                    <div class="row margin20Top padding35Lef">
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Cancer</span>
                        </div>
                        <div class="col-50">
                            <label for="" class="checkbox checkbox-circle alignV">
                                <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                            </label>
                            <span class="fontGris alignV">Otro</span>
                        </div>
                    </div>
                    <div align="center">
                        <button ui-sref="main.conocenos" class="button3 bloque2 hvr-float-shadow">
                            <img src="main/assets/images/icono/87.png" width="20px" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </form>

  </ion-content>
</ion-view>
