<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height51">
    <div class="">
      <div class="pt20">
        <div class="bloque8">
          <div class="text-left">
          <h4 class="text-center bb2 pb5 mlrauto c-black">Foto de perfil</h4>
          <div class=" bb1 pt10 pb10">
          <div class="vmiddle inline-block mr10 ml10"> <img class="block" src="main/assets/images/icono/103.png" width="20px" alt=""></div>
          <div class="vmiddle inline-block"><span class="fontNegro">Elige desde galería</span></div>
          </div>
          <div class=" pt10 pb10">
          <div class="vmiddle inline-block mr10 ml10"> <img class="block" src="main/assets/images/icono/103.png" width="20px" alt=""></div>
          <div class="vmiddle inline-block"><span class="fontNegro">Captura una foto nueva</span></div>
          </div>
  </div>
</div>

</div>
</div>
</ion-content>
</ion-view>
