<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="backNaranja relative card height76">
    <div class="backBlanco">
      <div class="text-center block pt30 pb30" style="margin-top: -1px;">
        <img src="main/assets/images/bit/feliz2.png" width="96px" />

      </div>
      <div class="relative" style="">
        <div class="picotop_1"></div>
      </div>

    </div>
    <div class="padding">
      <div class="pt20">
        <div class="bloque8">
          <p class="text-center fontBlanco2">En bitrubio todos nos ayudamos para mejorar la salud del paciente</p>
          <div class="text-center"><img src="main/assets/images/icono/86.png" width="15px" /></div>
          <p class="text-center fontBlanco2">Ayuda y recibirás beats<br /> Agradece dando beats</p>
          <p class="text-center fontBlanco2">En unos meses con tus beats recibirás beneficios</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
