<ion-view view-title="Preguntas frecuentes">
    <ion-content>
        <div class="bloque12 padding10">
            <div class="row row-center padding10Top">
                <div class="col-80">
                    <p class="fontAzul">¿Cómo genero una factura?</p>
                </div>
                <div class="col-20"> <img src="main/assets/images/icono/23.png" class="img1 derecha" alt=""></div>
            </div>

            <div class="row row-center padding10Top">
                <div class="col-80">
                    <p class="fontAzul">¿Cómo cambio mi contraseña?</p>
                </div>
                <div class="col-20"> <img src="main/assets/images/icono/23.png" class="img1 derecha" alt=""></div>
            </div>

            <div class="row row-center padding10Top">
                <div class="col-80">
                    <p class="fontAzul">¿Cómo cancelo una consulta?</p>
                </div>
                <div class="col-20"> <img src="main/assets/images/icono/23.png" class="img1 derecha" alt=""></div>
            </div>

            <div class="row row-center padding10Top">
                <div class="col-80">
                    <p class="fontAzul">¿Qué sucede si el medico cancela mi consulta?</p>
                </div>
                <div class="col-20"> <img src="main/assets/images/icono/23.png" class="img1 derecha" alt=""></div>
            </div>
        </div>
    </ion-content>
</ion-view>