<ion-view view-title="Recomendar">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <ion-content>
        <div class="row padding10">
            <div class="col-20" align="center">
                <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
            </div>
            <div class="col-80">
                <p class="fontNegro">Hola, te recomiendo al doctor Juan Carlos Hernández Sierra. </p>
            </div>
        </div>
        <div class="backGris padding10" align="center">
            <br>
            <div class="figura2 padding10" style="">
                <p class="fontBlanco">Hola</p>
                <p class="fontBlanco">Será un placer cuidar de tu salud.</p>
            </div>
            <div class="pico3" align="center">

            </div>
            <div class="backImg4">
                <img src="main/assets/images/perfil1.jpg" class="img10" alt="">
            </div>
        </div>
        <div align="center">
            <button class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
        </div>
    </ion-content>
</ion-view>
