<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Especialidad</h4>
      <div class="pt20">
        
        <div class="row">
        
        <div class="w100 block">
        <div id="inline2"></div>
        </div> 
          </div><br>
          <div class="row">
        <!--<input id="demo" placeholder="Please Select..." />-->
        <!-- <div class="w100 block"><br />
        <div id="demo-inline"></div>
        </div> -->
          <div class="col-100 text-center">
            <button  class="button3 hvr-float-shadow" >
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>


        </div>
      </div>
    </ion-content>
  </ion-view>

