<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card height76">
    <div class="">
      <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Idiomas</h4>
      <div class="pt20">
        
        <div class="row">
          <div class="w100 block">
            <div class="col-100 pt10 pb10" style="">
              <div class="row row-center">
                <div  class="col-90">
                  <soan class="inline-block alignV"><img class="block" src="main/assets/images/icono/110.png" width="20px" /></soan>
                  <span class="fontGris inline-block alignV">Español</span>
                </div>
                <div class="col-10">
                  <label for="" class="checkbox checkbox-circle alignV">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="1">
                  </label>
                </div>

              </div>
            </div>

          </div> 
        </div>
        <div class="row">
          <div class="w100 block">
            <div class="col-100 pt10 pb10" style="">
              <div class="row row-center">
                <div  class="col-90">
                  <soan class="inline-block alignV"><img class="block" src="main/assets/images/icono/110.png" width="20px" /></soan>
                  <span class="fontGris inline-block alignV">Español</span>
                </div>
                <div class="col-10">
                  <label for="" class="checkbox checkbox-circle alignV">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                  </label>
                </div>

              </div>
            </div>

          </div> 
        </div>
        <div class="row">
          <div class="w100 block">
            <div class="col-100 pt10 pb10" style="">
              <div class="row row-center">
                <div  class="col-90">
                  <soan class="inline-block alignV"><img class="block" src="main/assets/images/icono/110.png" width="20px" /></soan>
                  <span class="fontGris inline-block alignV">Español</span>
                </div>
                <div class="col-10">
                  <label for="" class="checkbox checkbox-circle alignV">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                  </label>
                </div>

              </div>
            </div>

          </div> 
        </div>
        <div class="row">
          <div class="w100 block">
            <div class="col-100 pt10 pb10" style="">
              <div class="row row-center">
                <div  class="col-90">
                  <soan class="inline-block alignV"><img class="block" src="main/assets/images/icono/110.png" width="20px" /></soan>
                  <span class="fontGris inline-block alignV">Español</span>
                </div>
                <div class="col-10">
                  <label for="" class="checkbox checkbox-circle alignV">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                  </label>
                </div>

              </div>
            </div>

          </div> 
        </div>
        <div class="row">
          <div class="w100 block">
            <div class="col-100 pt10 pb10" style="">
              <div class="row row-center">
                <div  class="col-90">
                  <soan class="inline-block alignV"><img class="block" src="main/assets/images/icono/110.png" width="20px" /></soan>
                  <span class="fontGris inline-block alignV">Español</span>
                </div>
                <div class="col-10">
                  <label for="" class="checkbox checkbox-circle alignV">
                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                  </label>
                </div>

              </div>
            </div>

          </div> 
        </div>
        <div class="">
          <label class="item-input-wrapper margin20Top">
          <input type="text" placeholder="Otro" class="miInput" style="">
          </label>
        </div>



          <div class="row">
        <!--<input id="demo" placeholder="Please Select..." />-->
        <!-- <div class="w100 block"><br />
        <div id="demo-inline"></div>
        </div> -->
          <div class="col-100 text-center">
            <button  class="button3" >
              <img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
            </div>
          </div>


        </div>
      </div>
    </ion-content>
  </ion-view>

