<ion-view view-title="Regístrate">
    <ion-content class="padding">
        <div class="">
            <form action="">
                <div class="row">
                    <div class="col-100 list">
                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/1.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Nombre" class="miInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <input type="text" placeholder="Primer apellido" class="miInput" style="margin-left:30px;">
                        </label>

                        <div class="row margin20Top">
                            <div class="col-50" style="margin-left:40px;">
                                <label for="" class="checkbox checkbox-circle alignV">
                                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                                </label>
                                <span class="fontGris alignV">Mujer</span>
                            </div>
                            <div class="col-50">
                                <label for="" class="checkbox checkbox-circle alignV">
                                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                                </label>
                                <span class="fontGris alignV">Hombre</span>
                            </div>
                        </div>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/4.png" class="img1 hvr-grow" alt="">
                            <input type="date" placeholder="Fecha de nacimiento" class="miInput dateInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/5.png" class="img1 hvr-grow" alt="">
                            <input type="number" placeholder="Celular 10 digitos" class="miInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/6.png" class="img1 hvr-grow" alt="">
                            <input type="email" placeholder="Correo electronico" class="miInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/2.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Contraseña" class="miInput">
                        </label>

                        <div class="row margin20Top">
                            <div class="col-80">
                                <label class="item-input-wrapper">
                                    <img src="main/assets/images/icono/207.png" class="img1 hvr-grow" alt="">
                                    <input type="text" placeholder="No de identificación oficial" class="miInput">
                                </label>
                            </div>
                            <div class="col-20" align="center">
                                <img src="main/assets/images/icono/208.png" width="25px" alt="" class="hvr-grow">
                            </div>
                        </div>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/110.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="País" class="miInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/209.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Profesión" class="miInput">
                        </label>

                        <div class="row margin20Top">
                            <div class="col-80">
                                <label class="item-input-wrapper alignV">
                                    <img src="main/assets/images/icono/210.png" class="img1 hvr-grow" alt="">
                                    <input type="text" placeholder="Especialidad" class="miInput">
                                </label>
                            </div>
                            <div class="col-20" align="center">
                                <label class="toggle alignV">
                                    <input type="checkbox">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row margin20Top">
                            <div class="col-80">
                                <label class="item-input-wrapper">
                                    <img src="" class="img1" alt="">
                                    <input type="text" placeholder="Nombre de especialidad" class="miInput">
                                </label>
                            </div>
                            <div class="col-20" align="center">

                            </div>
                        </div>
                        <div class="row margin20Top">
                            <div class="col-80">
                                <label class="item-input-wrapper">
                                    <img src="" class="img1" alt="">
                                    <input type="text" placeholder="Cedula de especialidad" class="miInput">
                                </label>
                            </div>
                            <div class="col-20" align="center">
                                <img src="main/assets/images/icono/211.png" width="25px" class="hvr-grow">
                            </div>
                        </div>

                        <div class="row margin20Top">
                            <div class="col-50">
                                <label class="item-input-wrapper">
                                    <img src="" class="img1" alt="">
                                    <input type="text" placeholder="País" class="miInput">
                                </label>
                            </div>
                            <div class="col-50">
                                <label class="item-input-wrapper">
                                    <img src="" class="img1" alt="">
                                    <input type="text" placeholder="Año" class="miInput">
                                </label>
                            </div>
                        </div>

                        <div class="row margin20Top">
                            <div class="col-80">
                                <label class="item-input-wrapper alignV">
                                    <img src="main/assets/images/icono/212.png" class="img1 hvr-grow" alt="">
                                    <input type="text" placeholder="Certificación" class="miInput">
                                </label>
                            </div>
                            <div class="col-20" align="center">
                                <label class="toggle alignV">
                                    <input type="checkbox">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/213.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="Idiomas" class="miInput">
                        </label>

                        <label class="item-input-wrapper margin20Top">
                            <img src="main/assets/images/icono/8.png" class="img1 hvr-grow" alt="">
                            <input type="text" placeholder="¿Tienes un código de invitado?" class="miInput">
                        </label>

                        <div class="row margin20Top">
                            <div class="" style="margin-left:40px;">
                                <label for="" class="checkbox checkbox-circle alignV">
                                    <input type="checkbox" class="miCheck checkbox-circle" name="" value="">
                                </label>
                                <span class="fontAzul alignV">Acepto términos y políticas de privacidad</span>
                            </div>
                        </div>
                        <div align="center">
                            <div class="circuloActivo">

                            </div>
                            <div class="circuloNoactivo">

                            </div>
                            <div class="circuloNoactivo">

                            </div>
                        </div>
                        <div align="center">
                            <button ui-sref="main.conocenos" class="button3 bloque2 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>