<ion-view view-title="Seguimiento">
  <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
        <span class="fontBlanco relative">
            <span class="count">1</span>
            <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
        </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="">

    <div>
      <div class="padding10Top backBlanco">
        <label class="item item-input inputS"> <img src="main/assets/images/icono/16.png" width="20px;" class="hvr-grow">
          <input type="serch" class="inputS" placeholder="Busca doctor, padecimiento o fecha">
        </label>
      </div>
      <div class="backVerde pt20 pb20  mt20">
        <p class="text-center fontBlanco">Elige la consulta a la que le darás seguimiento</p>
        </div>
        <div class="pico"></div>
      <div class="backCrema">
        <div class="backBlanco padding10 margin10Top">
          <div class="padding10">
            <div class="row row-center" ui-sref="main.consulta">
              <div class="col-33">
                <p class="fontNegro1">Eduin Garnica</p>
                <p class="fontGris4">Medico General</p>
              </div>
              <div class="col-33" align="center">
                <div class=""> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
              </div>
              <div class="col-33">
                <p class="fontVerde4 derecha">10 junio 2017</p>
              </div>
            </div>

              <div class="text-center">
                <div class="row">
                  <div class="padding5Top block mlrauto">
                    <img src="main/assets/images/icono/167.png" width="20px" class="alignV hvr-grow" alt="">
                    <span class="fontNegro9 alignV  padding10Lef">Amigdalitis aguda</span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="backBlanco padding10 margin10Top">
          <div class="padding10">
            <div class="row row-center" ui-sref="main.consulta">
              <div class="col-33">
                <p class="fontNegro1">Eduin Garnica</p>
                <p class="fontGris4">Medico General</p>
              </div>
              <div class="col-33" align="center">
                <div class=""> <img src="main/assets/images/perfil1.jpg" class="img9 hvr-grow" alt=""> </div>
              </div>
              <div class="col-33">
                <p class="fontVerde4 derecha">10 junio 2017</p>
              </div>
            </div>

              <div class="text-center">
                <div class="row">
                  <div class="padding5Top block mlrauto">
                    <img src="main/assets/images/icono/167.png" width="20px" class="alignV hvr-grow" alt="">
                    <span class="fontNegro9 alignV  padding10Lef">Amigdalitis aguda</span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            
              </div>
            </div>

          </ion-content>
        </ion-view>
