<ion-view view-title="servicios">
    <ion-content class="padding">
        <br>
        <div align="center">
            <button class="buttonVerde">
                <span style="line-height:40px;"> Farmacias  </span>
                <div class="relative borde50 bg-7ab derecha wh38">
                    <img src="main/assets/images/icono/267.png" class="center1" width="20px" alt="">
                </div>
            </button>
        </div>
        <br>
        <div align="center">
            <button class="buttonVerde">
                <span style="line-height:40px;"> Laboratorios </span>
                <div class="relative borde50 bg-7ab derecha wh38">
                    <img src="main/assets/images/icono/268.png" class="center1" width="20px" alt="">
                </div>
            </button>
        </div>
        <br> 
        <div align="center">
            <button class="buttonVerde">
                <span style="line-height:40px;"> Hospitales </span>
                <div class="relative borde50 bg-7ab derecha wh38">
                    <img src="main/assets/images/icono/269.png" class="center1" width="20px" alt="">
                </div>
            </button>
        </div>
        <br>
        <div align="center">
            <button class="buttonVerde">
                <span style="line-height:40px;"> Ejercicitate </span>
                <div class="relative borde50 bg-7ab derecha wh38">
                    <img src="main/assets/images/icono/270.png" class="center1" width="20px" alt="">
                </div>
            </button>
        </div>

    

    </ion-content>
</ion-view>