<ion-view hide-nav-bar="true" view-title="main module" class="bg-back">
  <!-- do you want padding? -->
  <ion-content class="padding relative card">
  <div class="">
  <h4 class="text-center bb2 pb5 w80p mlrauto c-black">Consultas</h4>
  <div class="b1-ddd row mb20">
                   <div class="p5 w100 text-center fs14 c-black">
                    <div class="col78 inline-block line relative c-black text-left">
                        <div> <img src="main/assets/images/icono/103.png" width="20px;"> Consultorio 1 </div>
                    </div>
                    <div class="col20 inline-block">
                        <div class="fwb c-black"> 3 </div>
                    </div>
                    </div>
                </div>
                <div class="b1-ddd row mb20">
                   <div class="p5 w100 text-center fs14 c-black">
                    <div class="col78 inline-block line relative c-black text-left">
                        <div> <img src="main/assets/images/icono/103.png" width="20px;"> Consultorio 2 </div>
                    </div>
                    <div class="col20 inline-block">
                        <div class="fwb c-black"> 3 </div>
                    </div>
                    </div>
                </div>
                <div class="b1-ddd row mb20">
                   <div class="p5 w100 text-center fs14 c-black">
                    <div class="col78 inline-block line relative c-black text-left">
                        <div> <img src="main/assets/images/icono/103.png" width="20px;"> Consulta a Domicilio </div>
                    </div>
                    <div class="col20 inline-block">
                        <div class="fwb c-black"> 3 </div>
                    </div>
                    </div>
                </div>
                <div class="b1-ddd row mb20">
                   <div class="p5 w100 text-center fs14 c-black">
                    <div class="col78 inline-block line relative c-black text-left">
                        <div> <img src="main/assets/images/icono/103.png" width="20px;"> Consulta remota </div>
                    </div>
                    <div class="col20 inline-block">
                        <div class="fwb c-black"> 3 </div>
                    </div>
                    </div>
                </div>
                <div class="b1-ddd row mb20">
                   <div class="p5 w100 text-center fs14 c-black">
                    <div class="col78 inline-block line relative c-black text-left">
                        <div> <img src="main/assets/images/icono/103.png" width="20px;"> Asistencia Remota </div>
                    </div>
                    <div class="col20 inline-block">
                        <div class="fwb c-black"> 3 </div>
                    </div>
                    </div>
                </div>
                <div ui-sref="main.negocio" class="button3 bloque2 mlrauto">
                        <img src="main/assets/images/icono/87.png" width="20px" alt=""></div>


    
  </div>

    

  </ion-content>
</ion-view>
