<ion-view view-title="Videoconsulta">
  <ion-nav-buttons side="right">
  <div class="btn-videollamada">
  <img class="block" src="main/assets/images/icono/117_2.png" width="20px" alt="">
  </div>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="bg-back">
    <div class="rgba255 pt30 pb30">
      <div class="row row-center">
        <div class="col-20"></div>
        <div class="col-60 text-center">
          <div class="fontGris">Quedan</div>
          <div class="fontGris5">10 Min</div>
        </div>
        <div class="col-20">
          <img src="main/assets/images/icono/121.png" width="25px" class="alignV hvr-grow" alt="">
        </div>
      </div>
    </div>

       

  </ion-content>
    <ion-footer-bar style="height: 230px; padding-top: 10px !important; background: transparent !important;" class="miFooter bar bar-footer pt10 pb10">
    <div class="row rgbarojo  mb20">
        <div class="col-100 pt10 pb10 text-center">
                <div class="fontBlanco2">Se interrumpió la señal.</div>
                <div class="fontBlanco2">Reconectando...</div>
        </div>
      </div>

      <div class="row" align="center">
        <div class="col-20">
          <button class="button25 hvr-grow">
            <img src="main/assets/images/icono/229.png" width="25px" class="alignV" alt="">
          </button> 
        </div>
        <div class="col-20">
         <button class="button25 hvr-grow">
          <img src="main/assets/images/icono/232.png" class="alignV" width="25px" alt="">
        </button>
      </div>
      <div class="col-20"> 
        <button class="button24 hvr-grow">
          <img src="main/assets/images/icono/72.png" class="alignV" width="30px" alt="">
        </button>
      </div> 
      <div class="col-20">
        <button class="button25 hvr-grow">
          <img src="main/assets/images/icono/162.png" class="alignV" width="25px" alt="">
        </button>
      </div> 
      <div class="col-20">  
        <button class="button25 hvr-grow">
          <img src="main/assets/images/icono/230.png" class="alignV" width="25px" alt="">
        </button>
      </div> 
    </div> 
    <div class="row" align="center">
      <div class="col-100"> 
        <label class="item-input-wrapper margin20Top">
          <input type="text" placeholder="Comieza a escribir" class="miInput">
        </label>
      </div>
    </div>
    </ion-footer-bar>
</ion-view>
