<ion-view view-title="Videoconsulta">
  <ion-nav-buttons side="right">
    <div class="btn-videollamada">
      <img class="block" src="main/assets/images/icono/117_2.png" width="20px" alt="">
    </div>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="">
    <div class="text-center mt20"> <img src="main/assets/images/perfil1.jpg" class="img9 block mlrauto" alt=""> </div>

<div class="  mb20" align="center">
                        <p class="fontNegro3">Eduin Hernandez</p>
                        <p class="fontGris7">Médico familiar</p>
                    </div>
                    <div class="figura padding10 " align="center">
            <p class="fontBlanco1">Información confidencial</p>
        </div>
        <div class="pico"></div>

                    <div class="backBlanco mb10 mt20">
      <div class="row row-top">
        <div class="col-10">
          <div class="padding10">
            <img width="20px" src="main/assets/images/icono/notas-privadas-az.png" class="hvr-grow">
          </div>
        </div>
        <div class="col-90">
          <div class="padding10">
            <label class="item-input-wrapper">
              <textarea rows="5" cols="50" name="" id="" placeholder="Notas privadas" class="" style="width:100%"></textarea>
            </label>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach  style="">
        <div class="row row-center">
          <div class="col-75">
           
          </div>
          <div class="col-25 text-right">
             <div class="fontAzul text-right">Guardar</div>
          </div>
        </div>
      </ion-footer-bar>


</ion-view>
