<ion-view view-title="Videoconsulta">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_2.png" width="20px" alt="">
        </div>
    </ion-nav-buttons>
    <!-- do you want padding? -->
    <ion-content class="">
        <div class="row row-center pl10 pr10 mt30" ui-sref="main.consulta" href="#/main/consulta">
            <div class="col-33">
                <p class="fontNegro1">Eduin Garnica</p>
                <p class="fontGris4">Medico General</p>
            </div>
            <div class="col-33" align="center">
                <div class=""> <img src="main/assets/images/perfil1.jpg" class="img9" alt=""> </div>
            </div>
            <div class="col-33">
                <p class="fontVerde6 derecha">10 junio 2017</p>
            </div>
        </div>
        <div class="row row-center pl10 pr10">
            <div class="col-50 text-left"><span class="fontAzul3">CED</span><span class="fontGris4">D7B11432E-G4</span></div>
            <div class="col-50 text-right"><span class="fontAzul3">RFC</span><span class="fontGris4">D7B11432E-G4</span></div>
        </div>
        <div class="backVerde text-center pb10 pt10 mt20">
            <div class="mb10">
                <div class="fontBlanco ">Proxima cita
                </div>
            </div>
            <div class="mb10 vmiddle">
                <div class="fontBlanco"><span class="inline-block">
            <img src="main/assets/images/icono/89.png" width="12px" class="block mr10 hvr-grow" /></span> 10 junio 2016
                </div>
            </div>
            <div class="mb10 vmiddle">
                <div class="fontBlanco"><span class="inline-block">
          <img src="main/assets/images/icono/95.png" width="12px" class="block mr10 hvr-grow" /></span>6:00 pm
                </div>
            </div>
        </div>
        <div class="backCrema">
            <div class="backBlanco mb10">
                <div class="row row-top">
                    <div class="col-10">
                        <div class="padding10">
                            <img width="20px" src="main/assets/images/icono/notas-az.png" class="hvr-grow">
                        </div>
                    </div>
                    <div class="col-90">
                        <div class="padding10">
                            <label class="item-input-wrapper">
                                <textarea rows="5" cols="50" name="" id="" placeholder="Notas" class="" style="width:100%"></textarea>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="backBlanco">
                <div class="row row-top">
                    <div class="col-10">
                        <div class="padding10">
                            <img width="20px" src="main/assets/images/icono/34.png" class="hvr-grow">
                        </div>
                    </div>
                    <div class="col-90">
                        <div class="padding10">
                            <label class="item-input-wrapper">
                                <textarea rows="5" cols="50" name="" id="" placeholder="Tratamiento y receta" class="" style="width:100%"></textarea>
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="backBlanco bb10-ccc pb10">
                <div class="row row-center padding">
                    <div class="col-50">
                    </div>
                    <div class="col-50">
                        <div class="right">
                            <p class="fontAzul5">Vigencia. indefinido
                                <span>
                <img src="main/assets/images/icono/24.png" class="alignV" width="15px;" alt="">
              </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pb20 pt20">
            <div class="col-50" align="center">
                <div class="hvr-grow">
                    <img src="main/assets/images/icono/282.png" width="30px" alt="">
                    <p class="fontAzul3">Notas privadas</p>
                </div>
            </div>
            <div class="col-50" align="center">
                <div class="hvr-grow">
                    <img src="main/assets/images/icono/54.png" width="30px" alt="">
                    <p class="fontAzul3">Guardar y enviar</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>