<ion-view view-title="Videoconsulta">
  <ion-nav-buttons side="right">
    <div class="btn-videollamada">
      <img class="block" src="main/assets/images/icono/117_2.png" width="20px" alt="">
    </div>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding">

       <div class="row" align="center">
            <div class="col-20">
                <button class="button25">
                <img src="main/assets/images/icono/229.png" width="25px" class="alignV" alt="">
                </button> 
            </div>
            <div class="col-20">
               <button class="button25">
                    <img src="main/assets/images/icono/232.png" class="alignV" width="25px" alt="">
                </button>
            </div>
            <div class="col-20"> 
                <button class="button24">
                    <img src="main/assets/images/icono/72.png" class="alignV" width="30px" alt="">
                </button>
            </div> 
            <div class="col-20">
                <button class="button25">
                    <img src="main/assets/images/icono/162.png" class="alignV" width="25px" alt="">
                </button>
            </div> 
            <div class="col-20">  
              <button class="button25">
                    <img src="main/assets/images/icono/230.png" class="alignV" width="25px" alt="">
                </button>
            </div> 
        </div>  

  </ion-content>
</ion-view>
