<ion-view view-title="main module">
    <ion-nav-buttons side="right">
        <div class="btn-videollamada">
            <img class="block" src="main/assets/images/icono/117_1.png" width="20px" alt="">
        </div>
        <div>
            <span class="fontBlanco relative">
                <span class="count">1</span>
                <img src="main/assets/images/icono/102.png" style="width:30px;margin:0 0 0px 0" alt="">
            </span> 
        </div>
        <img src="main/assets/images/bit2.png" style="height:20px;margin:0px 5px 6px 5px" alt="">
    </ion-nav-buttons>
    <!-- do you want padding? -->
    <ion-content class="">
        <div class="backCrema">
            <div class="backBlanco margin10Top">
                <div class="row row-center padding10" align="center">
                    <div class="col-33">
                        <p class="fontNegro">Sandra Juárez</p>
                    </div>
                    <div class="col-33" align="center"> 
                    <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt=""> </div>
                    <div class="col-33">
                        <p class="fontGris2">Monterrey, México</p>
                    </div>
                </div>
                <div align="center">
                    <div class="padding10">
                        <p class="fontNegro9">Juanito, nuestro primer bebito, necesita</p>
                        <p class="fontNegro9">urgentemente una transfusión, lo operaron ayer y</p>
                        <p class="fontNegro9">perdió mucha sangre. Por favor ayúdanos!!</p>
                    </div>
                    <div class="">
                        <div class="imgTiempo"> <img src="main/assets/images/icono/38.png" width="30px;">
                            <div class="backBlanco sombra">
                                <p class="fontAzul3">Sólo quedan
                                    <br> 5 días</p>
                            </div>
                        </div> <img src="main/assets/images/beb.png" class="imgDonar "> </div>
                </div>
                <div class="padding10">
                    <p class="fontNegro1">5/7 Donantes</p>
                    <progress value="90" max="100" class="barraVerde"></progress> <img src="main/assets/images/line.png" width="100%;" alt="">
                    <div class="row margin10" align="center">
                        <div class="col-50"> <img src="main/assets/images/icono/20.png" class="img7 hvr-grow" alt=""> </div>
                        <div class="col-50" ui-sref="main.donacionesUno"> <img src="main/assets/images/icono/136.png" class="img7 hvr-grow" alt=""> </div>
                    </div>
                </div>
            </div>
            <div class="backBlanco margin10Top">
                <div class="padding10">
                    <p class="fontNegro9 text-center">Información para el banco de sangre</p>
                    <div align="center" class="padding10Top">
                        <img src="main/assets/images/perfil.jpg" class="img9 hvr-grow" alt="">
                    </div>
                    <div>
                        <p class="fontNegro9 text-center">Paciente. Carlos Morales</p>
                        <p class="fontNegro9 text-center">Hospital. Medica sur</p>
                        <p class="fontNegro9 text-center">Habitación. 123</p>
                    </div>
                    <div align="center" class="margin20Top ">
                        <button class="button3 hvr-float-shadow"><img src="main/assets/images/icono/87.png" width="20px" alt=""></button>
                        <p class="fontAzul8 margin5Top ">Publicar</p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>